<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baiqs/_0001_youjianbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,0},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>baiqs/_0002_youshoubi.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,42},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>baiqs/_0003_youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,85},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>baiqs/_0004_youshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,77},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>baiqs/_0005_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,0},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>baiqs/_0006_tongku.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,0},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>baiqs/_0009_yaobu.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,48},{27,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,15}}</string>
                <key>sourceSize</key>
                <string>{27,15}</string>
            </dict>
            <key>baiqs/_0010_youxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,85},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>baiqs/_0011_youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,103},{16,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,8}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>baiqs/_0012_youdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,49},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,26}</string>
            </dict>
            <key>baiqs/_0013_zuoxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,85},{13,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,21}}</string>
                <key>sourceSize</key>
                <string>{13,21}</string>
            </dict>
            <key>baiqs/_0014_zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,101},{18,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,9}}</string>
                <key>sourceSize</key>
                <string>{18,9}</string>
            </dict>
            <key>baiqs/_0015_zuodatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,42},{13,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,23}}</string>
                <key>sourceSize</key>
                <string>{13,23}</string>
            </dict>
            <key>baiqs/_0016_shangshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,0},{41,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,47}}</string>
                <key>sourceSize</key>
                <string>{41,47}</string>
            </dict>
            <key>baiqs/_0017_zuojian.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,49},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>baiqs/_0018_zuosoubi.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,65},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>baiqs/_0019_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,0},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>baiqs/_0020_zuoshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,77},{18,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,27}}</string>
                <key>sourceSize</key>
                <string>{18,27}</string>
            </dict>
            <key>baiqs/_0021_youpifeng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,24},{30,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>baiqs/_0022_youpifeng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,0},{32,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>baiqs/_0023_youpifeng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,49},{35,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,25}}</string>
                <key>sourceSize</key>
                <string>{35,25}</string>
            </dict>
            <key>baiqs/_0024_youpifeng4.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,77},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>baiqs/_0025_zuopifeng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,65},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>baiqs/_0026_zuopifeng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,76},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>baiqs/_0027_zuopifeng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,24},{29,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,22}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>baiqs/_0028_zuopifeng4.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,76},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>baiqs/_0029_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{86,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,111}}</string>
                <key>sourceSize</key>
                <string>{86,111}</string>
            </dict>
            <key>tietu/trail234_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,77},{109,30}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{109,30}}</string>
                <key>sourceSize</key>
                <string>{125,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baiqishi0.pvr.ccz</string>
            <key>size</key>
            <string>{387,111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9930edf1ea5e3a30d90ee1926a829a3:af4716fdbf75ccdd4c7fe79eda9c2c00:2805b65b85ea46f8097107c22e614fe3$</string>
            <key>textureFileName</key>
            <string>baiqishi0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
