<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>likuizm/_0000_buyouxiabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,355},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>likuizm/_0001_buyoushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,355},{35,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,48}}</string>
                <key>sourceSize</key>
                <string>{35,48}</string>
            </dict>
            <key>likuizm/_0002_wengsheng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,986},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>likuizm/_0003_wengsheng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,405},{35,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,22}}</string>
                <key>sourceSize</key>
                <string>{35,22}</string>
            </dict>
            <key>likuizm/_0004_wengsheng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,392},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>likuizm/_0005_ceyoushangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,729},{33,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,50}}</string>
                <key>sourceSize</key>
                <string>{33,50}</string>
            </dict>
            <key>likuizm/_0006_ceyouxiabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,954},{39,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,30}}</string>
                <key>sourceSize</key>
                <string>{39,30}</string>
            </dict>
            <key>likuizm/_0007_ceyoushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,303},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>likuizm/_0008_ceyao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,994},{16,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,12}}</string>
                <key>sourceSize</key>
                <string>{16,12}</string>
            </dict>
            <key>likuizm/_0009_ceyao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,343},{25,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,10}}</string>
                <key>sourceSize</key>
                <string>{25,10}</string>
            </dict>
            <key>likuizm/_0010_ceyao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,982},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>likuizm/_0011_ceyouxiatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,135},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,31}}</string>
                <key>sourceSize</key>
                <string>{25,31}</string>
            </dict>
            <key>likuizm/_0012_ceyoujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,515},{36,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,22}}</string>
                <key>sourceSize</key>
                <string>{36,22}</string>
            </dict>
            <key>likuizm/_0013_ceshangtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,303},{26,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,37}}</string>
                <key>sourceSize</key>
                <string>{26,37}</string>
            </dict>
            <key>likuizm/_0014_cexiasheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,978},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,28}</string>
            </dict>
            <key>likuizm/_0015_ceshangsheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,849},{50,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,57}}</string>
                <key>sourceSize</key>
                <string>{50,57}</string>
            </dict>
            <key>likuizm/_0016_ceyoushangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,311},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>likuizm/_0017_ceyoushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,0},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>likuizm/_0018_ceyouxiabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,781},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>likuizm/_0019_erduo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,820},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>likuizm/_0020_f17.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,994},{13,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,12}}</string>
                <key>sourceSize</key>
                <string>{13,12}</string>
            </dict>
            <key>likuizm/_0021_f16.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,899},{16,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,10}}</string>
                <key>sourceSize</key>
                <string>{16,10}</string>
            </dict>
            <key>likuizm/_0022_f15.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,899},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>likuizm/_0023_f14.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,994},{12,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,10}}</string>
                <key>sourceSize</key>
                <string>{12,10}</string>
            </dict>
            <key>likuizm/_0024_f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,998},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>likuizm/_0025_f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,853},{15,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,9}}</string>
                <key>sourceSize</key>
                <string>{15,9}</string>
            </dict>
            <key>likuizm/_0026_f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,978},{47,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,28}}</string>
                <key>sourceSize</key>
                <string>{47,28}</string>
            </dict>
            <key>likuizm/_0027_f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,954},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>likuizm/_0028_f9.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,899},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>likuizm/_0029_f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,899},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>likuizm/_0030_f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,311},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>likuizm/_0031_f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,408},{12,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,7}}</string>
                <key>sourceSize</key>
                <string>{12,7}</string>
            </dict>
            <key>likuizm/_0032_f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,997},{13,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,9}}</string>
                <key>sourceSize</key>
                <string>{13,9}</string>
            </dict>
            <key>likuizm/_0033_f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,326},{9,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,11}}</string>
                <key>sourceSize</key>
                <string>{9,11}</string>
            </dict>
            <key>likuizm/_0034_f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,382},{6,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,9}}</string>
                <key>sourceSize</key>
                <string>{6,9}</string>
            </dict>
            <key>likuizm/_0035_f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,908},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>likuizm/_0036_f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,392},{18,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,31}}</string>
                <key>sourceSize</key>
                <string>{18,31}</string>
            </dict>
            <key>likuizm/_0037_tou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,830},{76,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,67}}</string>
                <key>sourceSize</key>
                <string>{76,67}</string>
            </dict>
            <key>likuizm/_0038_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,242},{76,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,67}}</string>
                <key>sourceSize</key>
                <string>{76,67}</string>
            </dict>
            <key>likuizm/_0039_xiaba.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,986},{31,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,20}}</string>
                <key>sourceSize</key>
                <string>{31,20}</string>
            </dict>
            <key>likuizm/_0040_piaodaiyou5.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,344},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>likuizm/_0041_piaodaiyou4.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,982},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>likuizm/_0042_piaodaiyou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,982},{15,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,10}}</string>
                <key>sourceSize</key>
                <string>{15,10}</string>
            </dict>
            <key>likuizm/_0043_piaodaiyou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,899},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>likuizm/_0044_piaodaiyou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,982},{17,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,7}}</string>
                <key>sourceSize</key>
                <string>{17,7}</string>
            </dict>
            <key>likuizm/_0045_yao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,982},{18,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,13}}</string>
                <key>sourceSize</key>
                <string>{18,13}</string>
            </dict>
            <key>likuizm/_0046_yao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,939},{27,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,10}}</string>
                <key>sourceSize</key>
                <string>{27,10}</string>
            </dict>
            <key>likuizm/_0047_yao21.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,703},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>likuizm/_0048_piaodaizuo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,342},{11,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,6}}</string>
                <key>sourceSize</key>
                <string>{11,6}</string>
            </dict>
            <key>likuizm/_0049_piaodaizuo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,719},{12,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,8}}</string>
                <key>sourceSize</key>
                <string>{12,8}</string>
            </dict>
            <key>likuizm/_0050_piaodaizuo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,982},{18,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,14}}</string>
                <key>sourceSize</key>
                <string>{18,14}</string>
            </dict>
            <key>likuizm/_0051_piaodaizuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,982},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>likuizm/_0052_piaodaizuo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,994},{17,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,10}}</string>
                <key>sourceSize</key>
                <string>{17,10}</string>
            </dict>
            <key>likuizm/_0053_yaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,994},{37,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,12}}</string>
                <key>sourceSize</key>
                <string>{37,12}</string>
            </dict>
            <key>likuizm/_0054_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,856},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>likuizm/_0055_zuoxiabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,35},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>likuizm/_0056_zuoshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,93},{29,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,40}}</string>
                <key>sourceSize</key>
                <string>{29,40}</string>
            </dict>
            <key>likuizm/_0057_xiongbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,254},{70,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,47}}</string>
                <key>sourceSize</key>
                <string>{70,47}</string>
            </dict>
            <key>likuizm/_0058_fubu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,815},{45,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,32}}</string>
                <key>sourceSize</key>
                <string>{45,32}</string>
            </dict>
            <key>likuizm/_0059_youshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,820},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>likuizm/_0060_youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,902},{27,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,35}}</string>
                <key>sourceSize</key>
                <string>{27,35}</string>
            </dict>
            <key>likuizm/_0061_youxiabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,815},{41,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,36}}</string>
                <key>sourceSize</key>
                <string>{41,36}</string>
            </dict>
            <key>likuizm/_0062_xiasheng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,982},{37,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,21}}</string>
                <key>sourceSize</key>
                <string>{37,21}</string>
            </dict>
            <key>likuizm/_0063_xiasheng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,515},{41,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,22}}</string>
                <key>sourceSize</key>
                <string>{41,22}</string>
            </dict>
            <key>likuizm/_0064_zuoxiatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,311},{26,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,31}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>likuizm/_0065_zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,977},{36,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,22}}</string>
                <key>sourceSize</key>
                <string>{36,22}</string>
            </dict>
            <key>likuizm/_0066_zuoshangtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,978},{35,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,28}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>likuizm/_0067_youxiatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,977},{35,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,29}}</string>
                <key>sourceSize</key>
                <string>{35,29}</string>
            </dict>
            <key>likuizm/_0068_youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,982},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>likuizm/_0069_youshangtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,66},{30,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,25}}</string>
                <key>sourceSize</key>
                <string>{30,25}</string>
            </dict>
            <key>likuizm/bu/1231.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,853},{102,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,123}}</string>
                <key>sourceSize</key>
                <string>{102,123}</string>
            </dict>
            <key>likuizm/bu/1232.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,853},{101,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,122}}</string>
                <key>sourceSize</key>
                <string>{101,122}</string>
            </dict>
            <key>likuizm_tietu/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{400,380}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{400,380}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>likuizm_tietu/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,382},{392,352}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,352}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>likuizm_tietu/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,0},{400,240}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,140},{400,240}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>likuizm_tietu/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,736},{302,174}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,177},{302,174}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>likuizm_tietu/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,0},{298,166}}</string>
                <key>offset</key>
                <string>{9,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,185},{298,166}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>likuizm_tietu/gj02/fire_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,432},{236,218}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{236,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>likuizm_tietu/gj02/shandian_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,242},{320,100}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{320,100}}</string>
                <key>sourceSize</key>
                <string>{400,120}</string>
            </dict>
            <key>likuizm_tietu/gj02/shandian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,912},{380,94}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{380,94}}</string>
                <key>sourceSize</key>
                <string>{400,120}</string>
            </dict>
            <key>likuizm_tietu/gj02/shandian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,344},{248,86}}</string>
                <key>offset</key>
                <string>{-65,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,25},{248,86}}</string>
                <key>sourceSize</key>
                <string>{400,120}</string>
            </dict>
            <key>likuizm_tietu/gj03/baob.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,343},{215,198}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,198}}</string>
                <key>sourceSize</key>
                <string>{215,202}</string>
            </dict>
            <key>likuizm_tietu/gj03/gji4_gb_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,168},{256,173}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,173}}</string>
                <key>sourceSize</key>
                <string>{256,199}</string>
            </dict>
            <key>likuizm_tietu/gj03/ji3_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,654},{206,208}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{206,208}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>likuizm_tietu/gj03/ji3_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,543},{182,158}}</string>
                <key>offset</key>
                <string>{-15,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,51},{182,158}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>likuizm_tietu/gj03/ji3_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,864},{132,136}}</string>
                <key>offset</key>
                <string>{-25,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,64},{132,136}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>likuizm_tietu/gj03/ji3_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,703},{166,148}}</string>
                <key>offset</key>
                <string>{-17,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,72},{166,148}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>likuizm_tietu/gj03/ji3_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,860},{218,120}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,65},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>likuizm_tietu/gj03/ji3_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,543},{90,94}}</string>
                <key>offset</key>
                <string>{-65,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,82},{90,94}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>likuizm_tietu/gj03/ji3_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,344},{86,86}}</string>
                <key>offset</key>
                <string>{54,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,97},{86,86}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>likuizm_tietu/gj03/ji3_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,432},{186,220}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>likuizm_tietu/gj03/ji3_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,652},{220,206}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,206}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>likuizm_tietu/zhuangtai/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,431},{80,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,33},{80,82}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>likuizm_tietu/zhuangtai/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,729},{96,84}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,31},{96,84}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>likuizm_tietu/zhuangtai/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,736},{82,92}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,31},{82,92}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>likuizm_tietu/zhuangtai/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,168},{72,84}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,36},{72,84}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>likuizm_tietu/zhuangtai/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,864},{104,128}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{104,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>likuizm_tietu/zhuangtai/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,343},{84,86}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{84,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>likuizm_tietu/zhuangtai/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,639},{108,88}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,29},{108,88}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gedoujia0.pvr.ccz</string>
            <key>size</key>
            <string>{1134,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc00a8b9a47587d1cf92520a63d20b84:f267d3556393e8acedcc3eae91951d9f:443fc2a4f70ccc81a971b5ffe1f1304b$</string>
            <key>textureFileName</key>
            <string>gedoujia0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
