<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guangmingdafashi_tietu/gj3/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{350,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{350,344}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>guangmingdafashi_tietu/gj3/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,0},{350,336}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{350,336}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>guangmingdafashi_tietu/gj3/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,0},{350,332}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{350,332}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>guangmingdafashi_tietu/gj3/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,0},{350,336}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{350,336}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>guangmingdafashi_tietu/gj3/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,0},{294,248}}</string>
                <key>offset</key>
                <string>{-19,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,56},{294,248}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>guangmingdafashi_tietu/gj3/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,250},{194,252}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,54},{194,252}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>guangmingdafashi_tietu/gj3/faz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,250},{252,252}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,252}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>guangmongdafashizm/_0001_zuoliuhai1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,377},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>guangmongdafashizm/_0002_zuoliuhai1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,393},{15,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,32}}</string>
                <key>sourceSize</key>
                <string>{15,32}</string>
            </dict>
            <key>guangmongdafashizm/_0003_zuoliuhai1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,338},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,22}}</string>
                <key>sourceSize</key>
                <string>{19,22}</string>
            </dict>
            <key>guangmongdafashizm/_0004_zuoliuhai1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,427},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>guangmongdafashizm/_0005_zuoliuhai1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,376},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
            <key>guangmongdafashizm/_0006_zuoliuhai1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,374},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,12}}</string>
                <key>sourceSize</key>
                <string>{8,12}</string>
            </dict>
            <key>guangmongdafashizm/_0007_zuoliuhai2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,413},{13,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,23}}</string>
                <key>sourceSize</key>
                <string>{13,23}</string>
            </dict>
            <key>guangmongdafashizm/_0008_zuoliuhai2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,412},{25,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,21}}</string>
                <key>sourceSize</key>
                <string>{25,21}</string>
            </dict>
            <key>guangmongdafashizm/_0009_zuoliuhai2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,419},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>guangmongdafashizm/_0010_zuoliuhai2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,457},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>guangmongdafashizm/_0011_zuoliuhai2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,486},{8,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{8,16}</string>
            </dict>
            <key>guangmongdafashizm/_0012_zuoliuhai2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,400},{4,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,12}}</string>
                <key>sourceSize</key>
                <string>{4,12}</string>
            </dict>
            <key>guangmongdafashizm/_0013_biaoqing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,346},{59,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,73}}</string>
                <key>sourceSize</key>
                <string>{59,73}</string>
            </dict>
            <key>guangmongdafashizm/_0014_biaoqing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,421},{59,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,73}}</string>
                <key>sourceSize</key>
                <string>{59,73}</string>
            </dict>
            <key>guangmongdafashizm/_0015_biaoqing3.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,346},{59,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,73}}</string>
                <key>sourceSize</key>
                <string>{59,73}</string>
            </dict>
            <key>guangmongdafashizm/_0016_biaoqing4.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,421},{59,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,73}}</string>
                <key>sourceSize</key>
                <string>{59,73}</string>
            </dict>
            <key>guangmongdafashizm/_0017_zuojiangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,483},{32,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,19}}</string>
                <key>sourceSize</key>
                <string>{32,19}</string>
            </dict>
            <key>guangmongdafashizm/_0018_zuoshoubi.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,360},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>guangmongdafashizm/_0019_quantou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,466},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>guangmongdafashizm/_0019_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,436},{28,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,21}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>guangmongdafashizm/_0020_quantou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,484},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>guangmongdafashizm/_0020_zuoshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,414},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>guangmongdafashizm/_0021_youjiangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,377},{17,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,12}}</string>
                <key>sourceSize</key>
                <string>{17,12}</string>
            </dict>
            <key>guangmongdafashizm/_0022_shangshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,346},{33,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,28}}</string>
                <key>sourceSize</key>
                <string>{33,28}</string>
            </dict>
            <key>guangmongdafashizm/_0023_qianquanbai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,486},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>guangmongdafashizm/_0024_qianquanbai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,459},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>guangmongdafashizm/_0025_qianquanbai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,489},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>guangmongdafashizm/_0026_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,388},{28,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,22}}</string>
                <key>sourceSize</key>
                <string>{28,22}</string>
            </dict>
            <key>guangmongdafashizm/_0027_qunzi1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,462},{11,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,22}}</string>
                <key>sourceSize</key>
                <string>{11,22}</string>
            </dict>
            <key>guangmongdafashizm/_0028_qunzi1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,410},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>guangmongdafashizm/_0029_qunzi1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,387},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{16,21}</string>
            </dict>
            <key>guangmongdafashizm/_0030_qunzi1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,388},{14,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,23}}</string>
                <key>sourceSize</key>
                <string>{14,23}</string>
            </dict>
            <key>guangmongdafashizm/_0031_qunzi1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,438},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,22}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>guangmongdafashizm/_0032_qunzi1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,363},{18,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,23}}</string>
                <key>sourceSize</key>
                <string>{18,23}</string>
            </dict>
            <key>guangmongdafashizm/_0033_qunzi1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,435},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>guangmongdafashizm/_0034_qunzi1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,362},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{16,21}</string>
            </dict>
            <key>guangmongdafashizm/_0035_qunzi1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,447},{19,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,25}}</string>
                <key>sourceSize</key>
                <string>{19,25}</string>
            </dict>
            <key>guangmongdafashizm/_0036_qunzi1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,406},{15,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{15,19}</string>
            </dict>
            <key>guangmongdafashizm/_0037_qunzi1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,481},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>guangmongdafashizm/_0038_qunzi1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,385},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>guangmongdafashizm/_0039_youshoubi.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,360},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>guangmongdafashizm/_0040_youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,486},{21,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,16}}</string>
                <key>sourceSize</key>
                <string>{21,16}</string>
            </dict>
            <key>guangmongdafashizm/_0041_youshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,440},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>guangmongdafashizm/_0042_pifeng2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,374},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>guangmongdafashizm/_0043_pifeng2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,486},{11,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,16}}</string>
                <key>sourceSize</key>
                <string>{11,16}</string>
            </dict>
            <key>guangmongdafashizm/_0044_pifeng2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,412},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>guangmongdafashizm/_0045_pifeng2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,338},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>guangmongdafashizm/_0046_pifeng2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,486},{28,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,16}}</string>
                <key>sourceSize</key>
                <string>{28,16}</string>
            </dict>
            <key>guangmongdafashizm/_0047_pifeng2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,489},{24,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,12}}</string>
                <key>sourceSize</key>
                <string>{24,12}</string>
            </dict>
            <key>guangmongdafashizm/_0048_pifeng2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,385},{15,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,7}}</string>
                <key>sourceSize</key>
                <string>{15,7}</string>
            </dict>
            <key>guangmongdafashizm/_0049_pifeng1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,374},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>guangmongdafashizm/_0050_pifeng1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,454},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>guangmongdafashizm/_0051_pifeng1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,363},{28,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,22}}</string>
                <key>sourceSize</key>
                <string>{28,22}</string>
            </dict>
            <key>guangmongdafashizm/_0052_pifeng1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,338},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>guangmongdafashizm/_0053_pifeng1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,424},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>guangmongdafashizm/_0054_pifeng1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,458},{37,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,26}}</string>
                <key>sourceSize</key>
                <string>{37,26}</string>
            </dict>
            <key>guangmongdafashizm/_0055_pifeng1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,486},{26,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,14}}</string>
                <key>sourceSize</key>
                <string>{26,14}</string>
            </dict>
            <key>guangmongdafashizm/_0056_pifeng1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,474},{40,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,24}}</string>
                <key>sourceSize</key>
                <string>{40,24}</string>
            </dict>
            <key>guangmongdafashizm/_0057_pifeng1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,394},{47,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,36}}</string>
                <key>sourceSize</key>
                <string>{47,36}</string>
            </dict>
            <key>guangmongdafashizm/_0058_toufa1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,496},{13,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,4}}</string>
                <key>sourceSize</key>
                <string>{13,4}</string>
            </dict>
            <key>guangmongdafashizm/_0059_toufa1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,385},{11,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,7}}</string>
                <key>sourceSize</key>
                <string>{11,7}</string>
            </dict>
            <key>guangmongdafashizm/_0060_toufa1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,489},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>guangmongdafashizm/_0061_toufa1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,338},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>guangmongdafashizm/_0062_toufa2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,489},{6,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,13}}</string>
                <key>sourceSize</key>
                <string>{6,13}</string>
            </dict>
            <key>guangmongdafashizm/_0063_toufa2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,432},{11,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,20}}</string>
                <key>sourceSize</key>
                <string>{11,20}</string>
            </dict>
            <key>guangmongdafashizm/_0064_toufa2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,454},{16,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,28}}</string>
                <key>sourceSize</key>
                <string>{16,28}</string>
            </dict>
            <key>guangmongdafashizm/_0065_toufa3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,381},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>guangmongdafashizm/_0066_toufa3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,346},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>guangmongdafashizm/_0067_toufa3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,346},{47,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,37}}</string>
                <key>sourceSize</key>
                <string>{47,37}</string>
            </dict>
            <key>guangmongdafashizm/_0068_toufa3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,395},{61,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,45}}</string>
                <key>sourceSize</key>
                <string>{61,45}</string>
            </dict>
            <key>guangmongdafashizm/_0069_toufa3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,346},{68,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,47}}</string>
                <key>sourceSize</key>
                <string>{68,47}</string>
            </dict>
            <key>guangmongdafashizm/_0070_toufa3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,442},{61,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,42}}</string>
                <key>sourceSize</key>
                <string>{61,42}</string>
            </dict>
            <key>guangmongdafashizm/_0071_zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,376},{17,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,12}}</string>
                <key>sourceSize</key>
                <string>{17,12}</string>
            </dict>
            <key>guangmongdafashizm/_0072_youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,381},{20,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,10}}</string>
                <key>sourceSize</key>
                <string>{20,10}</string>
            </dict>
            <key>guangmongdafashizm/_0073_youxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,418},{12,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,25}}</string>
                <key>sourceSize</key>
                <string>{12,25}</string>
            </dict>
            <key>guangmongdafashizm/_0074_zuoxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,338},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,24}}</string>
                <key>sourceSize</key>
                <string>{14,24}</string>
            </dict>
            <key>guangmongdafashizm/_0075_lingzi1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,395},{21,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,39}}</string>
                <key>sourceSize</key>
                <string>{21,39}</string>
            </dict>
            <key>guangmongdafashizm/_0076_lingzi1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,346},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>guangmongdafashizm/_0077_lingzi1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,427},{33,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,29}}</string>
                <key>sourceSize</key>
                <string>{33,29}</string>
            </dict>
            <key>guangmongdafashizm/_0078_lingzi1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,390},{15,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,27}}</string>
                <key>sourceSize</key>
                <string>{15,27}</string>
            </dict>
            <key>guangmongdafashizm/_0079_lingzi1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,390},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>guangmongdafashizm/_0080_lingzi1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,338},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,22}}</string>
                <key>sourceSize</key>
                <string>{19,22}</string>
            </dict>
            <key>guangmongdafashizm/_0081_lingzi1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,481},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>guangmongdafashizm/_0082_lingzi1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,391},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>guangmongdafashizm/_0083_lingzi1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,454},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>guangmongdafashizm/_0084_lingzi1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,432},{18,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,32}}</string>
                <key>sourceSize</key>
                <string>{18,32}</string>
            </dict>
            <key>guangmongdafashizm/_0085_lingzi1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,346},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>guangmongdafashizm/_0086_lingzi1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,393},{25,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,29}}</string>
                <key>sourceSize</key>
                <string>{25,29}</string>
            </dict>
            <key>guangmongdafashizm/_0087_lingzi1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,442},{55,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,45}}</string>
                <key>sourceSize</key>
                <string>{55,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guangmingdafashi0.pvr.ccz</string>
            <key>size</key>
            <string>{1856,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43fbb249f6a3e57011dd140e4be7cca5:70e1365b30b34f1343c4ff2e2c751493:2026a55b937b19d49f7af3fd1fc00a9e$</string>
            <key>textureFileName</key>
            <string>guangmingdafashi0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
