<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huimiezhijian_tietu/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,380},{70,56}}</string>
                <key>offset</key>
                <string>{4,207}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,15},{70,56}}</string>
                <key>sourceSize</key>
                <string>{650,500}</string>
            </dict>
            <key>huimiezhijian_tietu/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1512},{644,408}}</string>
                <key>offset</key>
                <string>{-3,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{644,408}}</string>
                <key>sourceSize</key>
                <string>{650,500}</string>
            </dict>
            <key>huimiezhijian_tietu/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{650,474}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{650,474}}</string>
                <key>sourceSize</key>
                <string>{650,500}</string>
            </dict>
            <key>huimiezhijian_tietu/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,476},{574,482}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{574,482}}</string>
                <key>sourceSize</key>
                <string>{650,500}</string>
            </dict>
            <key>huimiezhijian_tietu/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,664},{536,442}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,24},{536,442}}</string>
                <key>sourceSize</key>
                <string>{650,500}</string>
            </dict>
            <key>huimiezhijian_tietu/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,960},{536,412}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,26},{536,412}}</string>
                <key>sourceSize</key>
                <string>{650,500}</string>
            </dict>
            <key>huimiezhijian_tietu/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1108},{494,402}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,26},{494,402}}</string>
                <key>sourceSize</key>
                <string>{650,500}</string>
            </dict>
            <key>huimiezhijian_tietu/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1374},{494,394}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,28},{494,394}}</string>
                <key>sourceSize</key>
                <string>{650,500}</string>
            </dict>
            <key>huimiezhijian_tietu/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,0},{490,378}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,41},{490,378}}</string>
                <key>sourceSize</key>
                <string>{650,500}</string>
            </dict>
            <key>huimiezhijian_tietu/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,380},{104,282}}</string>
                <key>offset</key>
                <string>{4,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,41},{104,282}}</string>
                <key>sourceSize</key>
                <string>{650,500}</string>
            </dict>
            <key>huimiezhijian_tietu/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,380},{104,278}}</string>
                <key>offset</key>
                <string>{4,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,43},{104,278}}</string>
                <key>sourceSize</key>
                <string>{650,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huimiezhijian0.pvr.ccz</string>
            <key>size</key>
            <string>{1142,1920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ca5ef72869c2e0af63ec8091feff753:5659f9eb113128fbfc68aca4deda3167:e2ebff284cc4dac166c181910bde92d4$</string>
            <key>textureFileName</key>
            <string>huimiezhijian0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
