<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jianhunpojia_tietu/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,402},{214,234}}</string>
                <key>offset</key>
                <string>{-36,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,61},{214,234}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>jianhunpojia_tietu/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,402},{216,234}}</string>
                <key>offset</key>
                <string>{-34,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,65},{216,234}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>jianhunpojia_tietu/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,318},{322,334}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,0},{322,334}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>jianhunpojia_tietu/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{484,400}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{484,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>jianhunpojia_tietu/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,0},{480,400}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{480,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>jianhunpojia_tietu/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,0},{476,400}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{476,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>jianhunpojia_tietu/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,0},{342,316}}</string>
                <key>offset</key>
                <string>{-49,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{342,316}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>jianhunpojia_tietu/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,402},{328,302}}</string>
                <key>offset</key>
                <string>{-40,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,37},{328,302}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>jianhunpojia_tietu/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,402},{304,292}}</string>
                <key>offset</key>
                <string>{-43,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,43},{304,292}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jianhunpojia0.pvr.ccz</string>
            <key>size</key>
            <string>{1788,704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9397d09ab67f9e1f5a78cf98c49a08e:028f4c39ac715bccc58b51f6ac802e5b:b0b2af160983366d738923b09e3c1b72$</string>
            <key>textureFileName</key>
            <string>jianhunpojia0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
