<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinglingshensheshou_tietu/gj2/fz/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,800},{84,220}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,13},{84,220}}</string>
                <key>sourceSize</key>
                <string>{130,256}</string>
            </dict>
            <key>jinglingshensheshou_tietu/gj2/fz/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,520},{86,226}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{86,226}}</string>
                <key>sourceSize</key>
                <string>{130,256}</string>
            </dict>
            <key>jinglingshensheshou_tietu/gj2/fz/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,0},{88,226}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{88,226}}</string>
                <key>sourceSize</key>
                <string>{130,256}</string>
            </dict>
            <key>jinglingshensheshou_tietu/gj2/fz/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,800},{86,220}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{86,220}}</string>
                <key>sourceSize</key>
                <string>{130,256}</string>
            </dict>
            <key>jinglingshensheshou_tietu/gj2/fz/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,762},{82,220}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,13},{82,220}}</string>
                <key>sourceSize</key>
                <string>{130,256}</string>
            </dict>
            <key>jinglingshensheshou_tietu/gj2/fz/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,748},{86,226}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{86,226}}</string>
                <key>sourceSize</key>
                <string>{130,256}</string>
            </dict>
            <key>jinglingshensheshou_tietu/gj2/fz/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,290},{86,228}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{86,228}}</string>
                <key>sourceSize</key>
                <string>{130,256}</string>
            </dict>
            <key>jinglingshensheshou_tietu/gj2/fz/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,762},{86,226}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{86,226}}</string>
                <key>sourceSize</key>
                <string>{130,256}</string>
            </dict>
            <key>jinglingshensheshou_tietu/gj2/fz/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,752},{84,218}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{84,218}}</string>
                <key>sourceSize</key>
                <string>{130,256}</string>
            </dict>
            <key>jinglingshensheshou_tietu/gj2/jiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,238},{336,50}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{336,50}}</string>
                <key>sourceSize</key>
                <string>{350,60}</string>
            </dict>
            <key>jinglingshensheshou_tietu/gj2/qz/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,290},{146,232}}</string>
                <key>offset</key>
                <string>{104,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,11},{146,232}}</string>
                <key>sourceSize</key>
                <string>{370,280}</string>
            </dict>
            <key>jinglingshensheshou_tietu/gj2/qz/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,0},{186,236}}</string>
                <key>offset</key>
                <string>{85,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,9},{186,236}}</string>
                <key>sourceSize</key>
                <string>{370,280}</string>
            </dict>
            <key>jinglingshensheshou_tietu/gj2/qz/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,282},{258,276}}</string>
                <key>offset</key>
                <string>{44,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,2},{258,276}}</string>
                <key>sourceSize</key>
                <string>{370,280}</string>
            </dict>
            <key>jinglingshensheshou_tietu/gj2/qz/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{210,280}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,0},{210,280}}</string>
                <key>sourceSize</key>
                <string>{370,280}</string>
            </dict>
            <key>jinglingshensheshou_tietu/gj2/qz/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,569},{162,280}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,0},{162,280}}</string>
                <key>sourceSize</key>
                <string>{370,280}</string>
            </dict>
            <key>jinglingshensheshou_tietu/gj2/qz/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,0},{236,264}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,10},{236,264}}</string>
                <key>sourceSize</key>
                <string>{370,280}</string>
            </dict>
            <key>jinglingshensheshou_tietu/gj2/qz/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,287},{370,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,280}}</string>
                <key>sourceSize</key>
                <string>{370,280}</string>
            </dict>
            <key>jinglingshensheshou_tietu/gj2/qz/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,569},{240,278}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,2},{240,278}}</string>
                <key>sourceSize</key>
                <string>{370,280}</string>
            </dict>
            <key>jinglingshensheshou_tietu/gj2/qz/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,560},{192,238}}</string>
                <key>offset</key>
                <string>{-65,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{192,238}}</string>
                <key>sourceSize</key>
                <string>{370,280}</string>
            </dict>
            <key>jinglingshensheshou_tietu/gj2/qz/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,560},{168,250}}</string>
                <key>offset</key>
                <string>{-76,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{168,250}}</string>
                <key>sourceSize</key>
                <string>{370,280}</string>
            </dict>
            <key>jinglingshensheshou_tietu/gj3/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{212,285}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,9},{212,285}}</string>
                <key>sourceSize</key>
                <string>{268,311}</string>
            </dict>
            <key>jinglingshensheshou_tietu/gj3/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,277},{126,237}}</string>
                <key>offset</key>
                <string>{50,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,44},{126,237}}</string>
                <key>sourceSize</key>
                <string>{268,311}</string>
            </dict>
            <key>jinglingshensheshou_tietu/gj3/FlareBuilding_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,0},{236,234}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{236,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jinglingshensheshou_tietu/gj3/faz/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,851},{86,132}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,60},{86,132}}</string>
                <key>sourceSize</key>
                <string>{220,256}</string>
            </dict>
            <key>jinglingshensheshou_tietu/gj3/faz/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,526},{174,234}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,9},{174,234}}</string>
                <key>sourceSize</key>
                <string>{220,256}</string>
            </dict>
            <key>jinglingshensheshou_tietu/gj3/faz/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,290},{178,234}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,10},{178,234}}</string>
                <key>sourceSize</key>
                <string>{220,256}</string>
            </dict>
            <key>jinglingshensheshou_tietu/gj3/faz/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,524},{138,226}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,12},{138,226}}</string>
                <key>sourceSize</key>
                <string>{220,256}</string>
            </dict>
            <key>jinglingshensheshou_tietu/gj3/faz/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,851},{90,138}}</string>
                <key>offset</key>
                <string>{-26,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,57},{90,138}}</string>
                <key>sourceSize</key>
                <string>{220,256}</string>
            </dict>
            <key>jinglingshensheshou_tietu/gj3/faz/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,849},{64,104}}</string>
                <key>offset</key>
                <string>{-36,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,74},{64,104}}</string>
                <key>sourceSize</key>
                <string>{220,256}</string>
            </dict>
            <key>jinglingshensheshou_tietu/gj3/faz/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,933},{40,68}}</string>
                <key>offset</key>
                <string>{-43,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,93},{40,68}}</string>
                <key>sourceSize</key>
                <string>{220,256}</string>
            </dict>
            <key>zhengmian/cm/jlsss_0001_erduo.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,933},{41,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,20}}</string>
                <key>sourceSize</key>
                <string>{41,20}</string>
            </dict>
            <key>zhengmian/cm/jlsss_0002_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,812},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>zhengmian/cm/jlsss_0003_c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1003},{9,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,17}}</string>
                <key>sourceSize</key>
                <string>{9,17}</string>
            </dict>
            <key>zhengmian/cm/jlsss_0004_c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,266},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>zhengmian/cm/jlsss_0005_c4.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,933},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>zhengmian/cm/jlsss_0006_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,920},{93,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,79}}</string>
                <key>sourceSize</key>
                <string>{93,79}</string>
            </dict>
            <key>zhengmian/cm/jlsss_0007_jianjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1001},{27,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,18}}</string>
                <key>sourceSize</key>
                <string>{27,18}</string>
            </dict>
            <key>zhengmian/cm/jlsss_0008_xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1003},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>zhengmian/cm/jlsss_0009_xiongqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,991},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>zhengmian/cm/jlsss_0010_xiashen.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,985},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>zhengmian/houtou/jlsss_0000_hm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,982},{30,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,25}}</string>
                <key>sourceSize</key>
                <string>{30,25}</string>
            </dict>
            <key>zhengmian/houtou/jlsss_0001_hm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,516},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>zhengmian/houtou/jlsss_0002_hm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,833},{84,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,78}}</string>
                <key>sourceSize</key>
                <string>{84,78}</string>
            </dict>
            <key>zhengmian/houtou/jlsss_0003_hm.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,913},{97,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,77}}</string>
                <key>sourceSize</key>
                <string>{97,77}</string>
            </dict>
            <key>zhengmian/jlsss_0001_erdu.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,985},{36,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,25}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>zhengmian/jlsss_0002_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,266},{9,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,11}}</string>
                <key>sourceSize</key>
                <string>{9,11}</string>
            </dict>
            <key>zhengmian/jlsss_0003_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1003},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>zhengmian/jlsss_0004_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,266},{14,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,9}}</string>
                <key>sourceSize</key>
                <string>{14,9}</string>
            </dict>
            <key>zhengmian/jlsss_0005_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,266},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>zhengmian/jlsss_0006_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,560},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>zhengmian/jlsss_0007_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,266},{13,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,9}}</string>
                <key>sourceSize</key>
                <string>{13,9}</string>
            </dict>
            <key>zhengmian/jlsss_0008_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,266},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
            <key>zhengmian/jlsss_0009_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1009},{8,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,9}}</string>
                <key>sourceSize</key>
                <string>{8,9}</string>
            </dict>
            <key>zhengmian/jlsss_0010_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,266},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
            <key>zhengmian/jlsss_0011_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,266},{10,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,13}}</string>
                <key>sourceSize</key>
                <string>{10,13}</string>
            </dict>
            <key>zhengmian/jlsss_0012_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1009},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>zhengmian/jlsss_0013_tou-.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,849},{93,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,82}}</string>
                <key>sourceSize</key>
                <string>{93,82}</string>
            </dict>
            <key>zhengmian/jlsss_0014_tengku.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,849},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>zhengmian/jlsss_0015_biyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,933},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>zhengmian/jlsss_0016_xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,836},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>zhengmian/jlsss_0017_m1.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,800},{32,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,42}}</string>
                <key>sourceSize</key>
                <string>{32,42}</string>
            </dict>
            <key>zhengmian/jlsss_0018_m2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,991},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>zhengmian/jlsss_0020_zuojianjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1004},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>zhengmian/jlsss_0021_youjiajia.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1005},{23,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>zhengmian/jlsss_0022_xiongqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,985},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>zhengmian/jlsss_0023_zuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,955},{16,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,25}}</string>
                <key>sourceSize</key>
                <string>{16,25}</string>
            </dict>
            <key>zhengmian/jlsss_0024_you.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,812},{8,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,20}}</string>
                <key>sourceSize</key>
                <string>{8,20}</string>
            </dict>
            <key>zhengmian/jlsss_0025_fubu.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,812},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zhengmian/jlsss_0026_zuodatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,991},{15,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,27}}</string>
                <key>sourceSize</key>
                <string>{15,27}</string>
            </dict>
            <key>zhengmian/jlsss_0027_zuoxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,812},{11,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,19}}</string>
                <key>sourceSize</key>
                <string>{11,19}</string>
            </dict>
            <key>zhengmian/jlsss_0028_zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,266},{10,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>zhengmian/jlsss_0029_youxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,985},{14,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,26}}</string>
                <key>sourceSize</key>
                <string>{14,26}</string>
            </dict>
            <key>zhengmian/jlsss_0030_youxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,812},{11,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
            <key>zhengmian/jlsss_0031_youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,266},{12,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,10}}</string>
                <key>sourceSize</key>
                <string>{12,10}</string>
            </dict>
            <key>zhengmian/jlsss_0032_zuoqianbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,266},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>zhengmian/jlsss_0033_zuoshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,812},{11,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,19}}</string>
                <key>sourceSize</key>
                <string>{11,19}</string>
            </dict>
            <key>zhengmian/jlsss_0034_youqianbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,812},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>zhengmian/jlsss_0035_youshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,812},{10,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,19}}</string>
                <key>sourceSize</key>
                <string>{10,19}</string>
            </dict>
            <key>zhengmian/jlsss_0036_youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,266},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
            <key>zhengmian/jlsss_0037_g1.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,844},{27,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{27,43}</string>
            </dict>
            <key>zhengmian/jlsss_0038_g2.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,238},{21,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,46}}</string>
                <key>sourceSize</key>
                <string>{21,46}</string>
            </dict>
            <key>zhengmian/jlsss_0038_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,266},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>zhengmian/jlsss_0039_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1005},{19,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,15}</string>
            </dict>
            <key>zhengmian/jlsss_0039_g3.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,955},{45,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,23}}</string>
                <key>sourceSize</key>
                <string>{45,23}</string>
            </dict>
            <key>zhengmian/jlsss_0040_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,812},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>zhengmian/jlsss_0040_g4.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1001},{47,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,18}}</string>
                <key>sourceSize</key>
                <string>{47,18}</string>
            </dict>
            <key>zhengmian/jlsss_0041_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,955},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>zhengmian/jlsss_0041_g5.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,955},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>zhengmian/jlsss_0042_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,991},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>zhengmian/jlsss_0043_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,266},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>zhengmian/jlsss_0044_d7.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,980},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>zhengmian/jlsss_0045_d7.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,980},{36,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,23}}</string>
                <key>sourceSize</key>
                <string>{36,23}</string>
            </dict>
            <key>zhengmian/jlsss_0046_d8.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1001},{42,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,18}}</string>
                <key>sourceSize</key>
                <string>{42,18}</string>
            </dict>
            <key>zhengmian/youxiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,812},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>zhengmian/zuoxiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,266},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jinglingshensheshou0.pvr.ccz</string>
            <key>size</key>
            <string>{1183,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eeec4ca192ebdf2fecd52f6f18d7cb1d:793eefbbdb8b3d5593e1b1db950355cb:03b5324a4cae360356f78056764f1017$</string>
            <key>textureFileName</key>
            <string>jinglingshensheshou0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
