<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinglingjinjie_tietu/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1766},{182,146}}</string>
                <key>offset</key>
                <string>{-1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,114},{182,146}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>jinglingjinjie_tietu/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1346},{190,158}}</string>
                <key>offset</key>
                <string>{-1,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,119},{190,158}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>jinglingjinjie_tietu/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,918},{218,152}}</string>
                <key>offset</key>
                <string>{-7,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,106},{218,152}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>jinglingjinjie_tietu/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{224,166}}</string>
                <key>offset</key>
                <string>{-10,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,93},{224,166}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>jinglingjinjie_tietu/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,228},{226,162}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,95},{226,162}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>jinglingjinjie_tietu/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,688},{228,168}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,88},{228,168}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>jinglingjinjie_tietu/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,456},{230,172}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,84},{230,172}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>jinglingjinjie_tietu/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1528},{230,200}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,56},{230,200}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>jinglingjinjie_tietu/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{230,210}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,46},{230,210}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>jinglingjinjie_tietu/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1120},{230,202}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,54},{230,202}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>jinglingjinjie_tietu/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1324},{228,202}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,53},{228,202}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>jinglingjinjie_tietu/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{228,216}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,39},{228,216}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>jinglingjinjie_tietu/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,226}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,29},{228,226}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>jinglingjinjie_tietu/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{202,236}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,18},{202,236}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>jinglingjinjie_tietu/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{200,238}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,16},{200,238}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>jinglingjinjie_tietu/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1538},{194,226}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,28},{194,226}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>jinglingjinjie_tietu/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1760},{178,204}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,50},{178,204}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>jinglingjinjie_tietu/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1138},{164,206}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,44},{164,206}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>jinglingjinjie_tietu/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1914},{80,78}}</string>
                <key>offset</key>
                <string>{13,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,37},{80,78}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>jinglingjinjie_tietu/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1914},{74,84}}</string>
                <key>offset</key>
                <string>{11,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,23},{74,84}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>jinglingjinjie_tietu/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1966},{70,80}}</string>
                <key>offset</key>
                <string>{5,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,17},{70,80}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jinglingjinjie0.pvr.ccz</string>
            <key>size</key>
            <string>{400,2038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24e314de361b243ddc46533bc5411290:d6731e62f0bb272ad41e4e0faba04102:5e29c6265e541c138e237d9356f9e9de$</string>
            <key>textureFileName</key>
            <string>jinglingjinjie0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
