<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuloudijing_tietu/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{400,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,350}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>kuloudijing_tietu/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,214},{366,184}}</string>
                <key>offset</key>
                <string>{-12,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,100},{366,184}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>kuloudijing_tietu/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,0},{388,212}}</string>
                <key>offset</key>
                <string>{-6,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,100},{388,212}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>kuloudijing_tietu/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,352},{244,146}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,127},{244,146}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>zm/wlxg3_0001_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,400},{110,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,69}}</string>
                <key>sourceSize</key>
                <string>{110,69}</string>
            </dict>
            <key>zm/wlxg3_0002_biyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,400},{110,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,69}}</string>
                <key>sourceSize</key>
                <string>{110,69}</string>
            </dict>
            <key>zm/wlxg3_0003_xiaba.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,471},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>zm/wlxg3_0004_zuoqianbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,400},{50,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,69}}</string>
                <key>sourceSize</key>
                <string>{50,69}</string>
            </dict>
            <key>zm/wlxg3_0005_zuoquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,400},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>zm/wlxg3_0006_youqianbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,400},{45,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,59}}</string>
                <key>sourceSize</key>
                <string>{45,59}</string>
            </dict>
            <key>zm/wlxg3_0007_youquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,352},{37,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,28}}</string>
                <key>sourceSize</key>
                <string>{37,28}</string>
            </dict>
            <key>zm/wlxg3_0008_zuobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,461},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>zm/wlxg3_0009_youbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,352},{42,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,37}}</string>
                <key>sourceSize</key>
                <string>{42,37}</string>
            </dict>
            <key>zm/wlxg3_0010_kd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,471},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>zm/wlxg3_0011_kd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,332},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>zm/wlxg3_0012_kd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,278},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>zm/wlxg3_0013_xiongqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,352},{71,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,42}}</string>
                <key>sourceSize</key>
                <string>{71,42}</string>
            </dict>
            <key>zm/wlxg3_0014_fubu.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,471},{33,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,22}}</string>
                <key>sourceSize</key>
                <string>{33,22}</string>
            </dict>
            <key>zm/wlxg3_0015_zuodatiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,471},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{23,27}</string>
            </dict>
            <key>zm/wlxg3_0016_zuoxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,293},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>zm/wlxg3_0017_zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,230},{19,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,12}}</string>
                <key>sourceSize</key>
                <string>{19,12}</string>
            </dict>
            <key>zm/wlxg3_0018_youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,244},{18,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,11}}</string>
                <key>sourceSize</key>
                <string>{18,11}</string>
            </dict>
            <key>zm/wlxg3_0019_youxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,257},{15,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{15,19}</string>
            </dict>
            <key>zm/wlxg3_0020_youdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,471},{27,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>zm/wlxg3_0021_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,382},{11,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,14}}</string>
                <key>sourceSize</key>
                <string>{11,14}</string>
            </dict>
            <key>zm/wlxg3_0022_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,382},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
            <key>zm/wlxg3_0023_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,384},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>zm/wlxg3_0024_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,382},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>zm/wlxg3_0025_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,471},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>zm/wlxg3_0026_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,471},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>zm/wlxg3_0027_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,471},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>zm/wlxg3_0028_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,484},{9,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,10}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>zm/wlxg3_0029_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,360},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,22}}</string>
                <key>sourceSize</key>
                <string>{12,22}</string>
            </dict>
            <key>zm/wlxg3_0030_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,347},{13,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,11}}</string>
                <key>sourceSize</key>
                <string>{13,11}</string>
            </dict>
            <key>zm/wlxg3_0031_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,471},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
            <key>zm/wlxg3_0032_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,471},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>zm/wlxg3_0033_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,485},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>zm/wlxg3_0034_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,214},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>zm/wlxg3_0035_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,317},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>zm/wlxg3_0036_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,461},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>zm/wlxg3_0037_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,471},{33,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,26}}</string>
                <key>sourceSize</key>
                <string>{33,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kuloudijing0.pvr.ccz</string>
            <key>size</key>
            <string>{790,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4168266adf2b4f2070314eaba79f0870:9cc5703df40f35c7f496a7e4a27467cc:ac3809dd2e14956c6035b0a607c4ee5b$</string>
            <key>textureFileName</key>
            <string>kuloudijing0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
