<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuluoshibing_tietu/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{280,180}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{280,180}}</string>
                <key>sourceSize</key>
                <string>{280,192}</string>
            </dict>
            <key>zm/wlzs2_0001_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,100},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>zm/wlzs2_0002_biyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,0},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>zm/wlzs2_0003_xiaba.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,154},{46,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,20}}</string>
                <key>sourceSize</key>
                <string>{46,20}</string>
            </dict>
            <key>zm/wlzs2_0004_youjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,112},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>zm/wlzs2_0005_zuojian.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,104},{41,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,48}}</string>
                <key>sourceSize</key>
                <string>{41,48}</string>
            </dict>
            <key>zm/wlzs2_0006_xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,65},{47,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,37}}</string>
                <key>sourceSize</key>
                <string>{47,37}</string>
            </dict>
            <key>zm/wlzs2_0007_kudang.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,0},{31,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,21}}</string>
                <key>sourceSize</key>
                <string>{31,21}</string>
            </dict>
            <key>zm/wlzs2_0008_zuojiaozhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,173},{16,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,7}}</string>
                <key>sourceSize</key>
                <string>{16,7}</string>
            </dict>
            <key>zm/wlzs2_0009_zuoxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,156},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>zm/wlzs2_0010_zuodatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,165},{9,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,14}}</string>
                <key>sourceSize</key>
                <string>{9,14}</string>
            </dict>
            <key>zm/wlzs2_0011_youjiangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,48},{15,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,8}}</string>
                <key>sourceSize</key>
                <string>{15,8}</string>
            </dict>
            <key>zm/wlzs2_0012_youxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,135},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>zm/wlzs2_0013_youdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,165},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>zm/wlzs2_0014_youqianbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,43},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>zm/wlzs2_0015_youquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,23},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>zm/wlzs2_0016_yoiushangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,112},{11,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
            <key>zm/wlzs2_0017_dun.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,65},{39,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,45}}</string>
                <key>sourceSize</key>
                <string>{39,45}</string>
            </dict>
            <key>zm/wlzs2_0018_zuoqianbi-.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,152},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>zm/wlzs2_0019_zuouquan-.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,152},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{16,21}</string>
            </dict>
            <key>zm/wlzs2_0020_zuoshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,23},{9,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,23}}</string>
                <key>sourceSize</key>
                <string>{9,23}</string>
            </dict>
            <key>zm/wlzs2_0021_dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,0},{74,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,98}}</string>
                <key>sourceSize</key>
                <string>{74,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kuluoshibing0.pvr.ccz</string>
            <key>size</key>
            <string>{461,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f12e29625313cacce28260c066b87c41:46343ede8949fd65c9ef916bdf05b45d:30f1226b0a214ea089564c3e75bcd5cb$</string>
            <key>textureFileName</key>
            <string>kuluoshibing0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
