<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lang/_0001_youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,242},{41,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,38}}</string>
                <key>sourceSize</key>
                <string>{41,38}</string>
            </dict>
            <key>lang/_0002_youshoubi.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,169},{41,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,71}}</string>
                <key>sourceSize</key>
                <string>{41,71}</string>
            </dict>
            <key>lang/_0003_youshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,60},{49,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,42}}</string>
                <key>sourceSize</key>
                <string>{49,42}</string>
            </dict>
            <key>lang/_0004_yaobu.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,370},{26,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{26,18}</string>
            </dict>
            <key>lang/_0005_zuodatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,390},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>lang/_0006_zuoxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,311},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>lang/_0007_zuojiaozhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,832},{17,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,6}}</string>
                <key>sourceSize</key>
                <string>{17,6}</string>
            </dict>
            <key>lang/_0008_zuojiaozhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,169},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>lang/_0009_youdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,401},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>lang/_0010_youxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,417},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>lang/_0011_youjiaozhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,832},{17,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,6}}</string>
                <key>sourceSize</key>
                <string>{17,6}</string>
            </dict>
            <key>lang/_0012_youjiaozhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,104},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>lang/_0013_erduo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,370},{25,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,29}}</string>
                <key>sourceSize</key>
                <string>{25,29}</string>
            </dict>
            <key>lang/_0014_biyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,568},{66,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{66,78}</string>
            </dict>
            <key>lang/_0014_tou-.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,648},{66,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{66,78}</string>
            </dict>
            <key>lang/_0015_toufa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,0},{55,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,58}}</string>
                <key>sourceSize</key>
                <string>{55,58}</string>
            </dict>
            <key>lang/_0016_toufa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,104},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>lang/_0017_toufa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,311},{34,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,57}}</string>
                <key>sourceSize</key>
                <string>{34,57}</string>
            </dict>
            <key>lang/_0018_erduo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,331},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>lang/_0019_shangshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,728},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>lang/_0020_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,790},{33,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,40}}</string>
                <key>sourceSize</key>
                <string>{33,40}</string>
            </dict>
            <key>lang/_0020_zuoshou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,790},{33,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,40}}</string>
                <key>sourceSize</key>
                <string>{33,40}</string>
            </dict>
            <key>lang/_0021_zuoshoubi.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,282},{41,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,27}}</string>
                <key>sourceSize</key>
                <string>{41,27}</string>
            </dict>
            <key>lang/_0021_zuoshoubi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,282},{41,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,27}}</string>
                <key>sourceSize</key>
                <string>{41,27}</string>
            </dict>
            <key>lang/_0022_zuoshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,790},{35,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,54}}</string>
                <key>sourceSize</key>
                <string>{35,54}</string>
            </dict>
            <key>lang/_0022_zuoshangbi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,790},{35,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,54}}</string>
                <key>sourceSize</key>
                <string>{35,54}</string>
            </dict>
            <key>langren_tietu_texiao/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{156,282}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,39},{156,282}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>langren_tietu_texiao/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{156,282}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,39},{156,282}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>langren_tietu_texiao/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,568},{138,278}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,43},{138,278}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>langren0.pvr.ccz</string>
            <key>size</key>
            <string>{213,846}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9fb5bb42e2fb87ae458452b1d16c2d7:e7611a0e8b84574780a79be27b0270f5:4384f0e0c349b0bdc4783d807a64be0f$</string>
            <key>textureFileName</key>
            <string>langren0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
