<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lieyankuilong/zm/cibang/long_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{762,696}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{762,696}}</string>
                <key>sourceSize</key>
                <string>{762,696}</string>
            </dict>
            <key>lieyankuilong/zm/cibang/long_0002_xzuoyigu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,0},{112,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,332}}</string>
                <key>sourceSize</key>
                <string>{112,332}</string>
            </dict>
            <key>lieyankuilong/zm/cibang/long_0003_xzuoyigu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,730},{405,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,111}}</string>
                <key>sourceSize</key>
                <string>{405,111}</string>
            </dict>
            <key>lieyankuilong/zm/cibang/long_0004_xzuoyigu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,437},{246,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,51}}</string>
                <key>sourceSize</key>
                <string>{246,51}</string>
            </dict>
            <key>lieyankuilong/zm/cibang/long_0005_xzuoyigu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,926},{181,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,71}}</string>
                <key>sourceSize</key>
                <string>{181,71}</string>
            </dict>
            <key>lieyankuilong/zm/cibang/long_0006_xzuoyigu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,933},{76,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,79}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>lieyankuilong/zm/cibang/long_0007_xzuocibang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,0},{423,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,230}}</string>
                <key>sourceSize</key>
                <string>{423,230}</string>
            </dict>
            <key>lieyankuilong/zm/cibang/long_0008_xzuocibang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,308},{430,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,127}}</string>
                <key>sourceSize</key>
                <string>{430,127}</string>
            </dict>
            <key>lieyankuilong/zm/cibang/long_0009_xzuocibang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,239},{224,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,74}}</string>
                <key>sourceSize</key>
                <string>{224,74}</string>
            </dict>
            <key>lieyankuilong/zm/cibang/long_0010_xzuocibang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,1095},{119,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,45}}</string>
                <key>sourceSize</key>
                <string>{119,45}</string>
            </dict>
            <key>lieyankuilong/zm/cibang/long_0011_xzuocibang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,1066},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>lieyankuilong/zm/cibang/long_0075_xyouyigu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,372},{56,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,228}}</string>
                <key>sourceSize</key>
                <string>{56,228}</string>
            </dict>
            <key>lieyankuilong/zm/cibang/long_0076_xyouyigu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,973},{380,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,120}}</string>
                <key>sourceSize</key>
                <string>{380,120}</string>
            </dict>
            <key>lieyankuilong/zm/cibang/long_0077_xyouyigu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1056},{246,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,41}}</string>
                <key>sourceSize</key>
                <string>{246,41}</string>
            </dict>
            <key>lieyankuilong/zm/cibang/long_0078_xyouyigu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1095},{184,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,61}}</string>
                <key>sourceSize</key>
                <string>{184,61}</string>
            </dict>
            <key>lieyankuilong/zm/cibang/long_0079_xyouyigu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1048},{60,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,110}}</string>
                <key>sourceSize</key>
                <string>{60,110}</string>
            </dict>
            <key>lieyankuilong/zm/cibang/long_0080_xyouchibang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,454},{414,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,159}}</string>
                <key>sourceSize</key>
                <string>{414,159}</string>
            </dict>
            <key>lieyankuilong/zm/cibang/long_0081_xyouchibang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,843},{376,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,128}}</string>
                <key>sourceSize</key>
                <string>{376,128}</string>
            </dict>
            <key>lieyankuilong/zm/cibang/long_0082_xyouchibang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,154},{240,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,83}}</string>
                <key>sourceSize</key>
                <string>{240,83}</string>
            </dict>
            <key>lieyankuilong/zm/cibang/long_0083_xyouchibang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,806},{195,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,104}}</string>
                <key>sourceSize</key>
                <string>{195,104}</string>
            </dict>
            <key>lieyankuilong/zm/long_0001_zuoyigu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,698},{264,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,303}}</string>
                <key>sourceSize</key>
                <string>{264,303}</string>
            </dict>
            <key>lieyankuilong/zm/long_0002_zuoyigu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,155},{453,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,151}}</string>
                <key>sourceSize</key>
                <string>{453,151}</string>
            </dict>
            <key>lieyankuilong/zm/long_0003_zuoyigu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,0},{250,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,152}}</string>
                <key>sourceSize</key>
                <string>{250,152}</string>
            </dict>
            <key>lieyankuilong/zm/long_0004_zuoyigu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,519},{184,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,163}}</string>
                <key>sourceSize</key>
                <string>{184,163}</string>
            </dict>
            <key>lieyankuilong/zm/long_0005_zuoyigu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,1061},{118,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,94}}</string>
                <key>sourceSize</key>
                <string>{118,94}</string>
            </dict>
            <key>lieyankuilong/zm/long_0006_zuocibang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,698},{437,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,361}}</string>
                <key>sourceSize</key>
                <string>{437,361}</string>
            </dict>
            <key>lieyankuilong/zm/long_0007_zuocibang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,0},{488,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,153}}</string>
                <key>sourceSize</key>
                <string>{488,153}</string>
            </dict>
            <key>lieyankuilong/zm/long_0008_zuocibang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,490},{232,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,196}}</string>
                <key>sourceSize</key>
                <string>{232,196}</string>
            </dict>
            <key>lieyankuilong/zm/long_0009_zuocibang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,437},{222,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,80}}</string>
                <key>sourceSize</key>
                <string>{222,80}</string>
            </dict>
            <key>lieyankuilong/zm/long_0010_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,437},{174,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,197}}</string>
                <key>sourceSize</key>
                <string>{174,197}</string>
            </dict>
            <key>lieyankuilong/zm/long_0011_biyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,636},{174,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,180}}</string>
                <key>sourceSize</key>
                <string>{174,180}</string>
            </dict>
            <key>lieyankuilong/zm/long_0012_ya.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,853},{38,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,46}}</string>
                <key>sourceSize</key>
                <string>{38,46}</string>
            </dict>
            <key>lieyankuilong/zm/long_0013_shtou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,941},{16,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,7}}</string>
                <key>sourceSize</key>
                <string>{16,7}</string>
            </dict>
            <key>lieyankuilong/zm/long_0014_shtou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,1144},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>lieyankuilong/zm/long_0015_shtou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,999},{15,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,22}}</string>
                <key>sourceSize</key>
                <string>{15,22}</string>
            </dict>
            <key>lieyankuilong/zm/long_0016_shtou.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1139},{26,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,19}}</string>
                <key>sourceSize</key>
                <string>{26,19}</string>
            </dict>
            <key>lieyankuilong/zm/long_0017_shtou5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1135},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>lieyankuilong/zm/long_0018_xiae.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,806},{98,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,114}}</string>
                <key>sourceSize</key>
                <string>{98,114}</string>
            </dict>
            <key>lieyankuilong/zm/long_0018_zuocibang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,999},{164,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,75}}</string>
                <key>sourceSize</key>
                <string>{164,75}</string>
            </dict>
            <key>lieyankuilong/zm/long_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,476},{77,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,50}}</string>
                <key>sourceSize</key>
                <string>{77,50}</string>
            </dict>
            <key>lieyankuilong/zm/long_0019_zuoqianbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,334},{77,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,140}}</string>
                <key>sourceSize</key>
                <string>{77,140}</string>
            </dict>
            <key>lieyankuilong/zm/long_0020_zqz5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2008,784},{34,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,49}}</string>
                <key>sourceSize</key>
                <string>{34,49}</string>
            </dict>
            <key>lieyankuilong/zm/long_0021_zqz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,843},{24,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,55}}</string>
                <key>sourceSize</key>
                <string>{24,55}</string>
            </dict>
            <key>lieyankuilong/zm/long_0022_zqz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,155},{24,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,58}}</string>
                <key>sourceSize</key>
                <string>{24,58}</string>
            </dict>
            <key>lieyankuilong/zm/long_0023_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,1096},{58,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,52}}</string>
                <key>sourceSize</key>
                <string>{58,52}</string>
            </dict>
            <key>lieyankuilong/zm/long_0023_zqz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1815,315},{46,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,53}}</string>
                <key>sourceSize</key>
                <string>{46,53}</string>
            </dict>
            <key>lieyankuilong/zm/long_0024_zqz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,1060},{50,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,34}}</string>
                <key>sourceSize</key>
                <string>{50,34}</string>
            </dict>
            <key>lieyankuilong/zm/long_0025_zuoshouzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,518},{56,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,83}}</string>
                <key>sourceSize</key>
                <string>{56,83}</string>
            </dict>
            <key>lieyankuilong/zm/long_0026_zuoshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,950},{88,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,136}}</string>
                <key>sourceSize</key>
                <string>{88,136}</string>
            </dict>
            <key>lieyankuilong/zm/long_0027_zuodatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,372},{73,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,144}}</string>
                <key>sourceSize</key>
                <string>{73,144}</string>
            </dict>
            <key>lieyankuilong/zm/long_0028_zuoixiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,1081},{62,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,48}</string>
            </dict>
            <key>lieyankuilong/zm/long_0029_zhz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,703},{25,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,46}}</string>
                <key>sourceSize</key>
                <string>{25,46}</string>
            </dict>
            <key>lieyankuilong/zm/long_0030_zhz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1815,370},{18,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,51}}</string>
                <key>sourceSize</key>
                <string>{18,51}</string>
            </dict>
            <key>lieyankuilong/zm/long_0031_zhz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,652},{24,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,49}}</string>
                <key>sourceSize</key>
                <string>{24,49}</string>
            </dict>
            <key>lieyankuilong/zm/long_0032_zhz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,602},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>lieyankuilong/zm/long_0033_zuojiaozhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,519},{44,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,101}}</string>
                <key>sourceSize</key>
                <string>{44,103}</string>
            </dict>
            <key>lieyankuilong/zm/long_0034_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,1076},{123,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,65}}</string>
                <key>sourceSize</key>
                <string>{123,65}</string>
            </dict>
            <key>lieyankuilong/zm/long_0035_xiongqiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,912},{168,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,134}}</string>
                <key>sourceSize</key>
                <string>{168,134}</string>
            </dict>
            <key>lieyankuilong/zm/long_0036_xiongqiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,684},{190,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,125}}</string>
                <key>sourceSize</key>
                <string>{190,125}</string>
            </dict>
            <key>lieyankuilong/zm/long_0037_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1909,698},{108,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,84}}</string>
                <key>sourceSize</key>
                <string>{108,84}</string>
            </dict>
            <key>lieyankuilong/zm/long_0038_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1095},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>lieyankuilong/zm/long_0039_b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,1099},{103,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,53}}</string>
                <key>sourceSize</key>
                <string>{103,53}</string>
            </dict>
            <key>lieyankuilong/zm/long_0040_b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1909,610},{108,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,86}}</string>
                <key>sourceSize</key>
                <string>{108,86}</string>
            </dict>
            <key>lieyankuilong/zm/long_0041_fubu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,818},{149,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,121}}</string>
                <key>sourceSize</key>
                <string>{149,121}</string>
            </dict>
            <key>lieyankuilong/zm/long_0042_fubu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,941},{129,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,120}}</string>
                <key>sourceSize</key>
                <string>{129,120}</string>
            </dict>
            <key>lieyankuilong/zm/long_0043_tunbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,1063},{102,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,95}}</string>
                <key>sourceSize</key>
                <string>{102,95}</string>
            </dict>
            <key>lieyankuilong/zm/long_0044_weiba1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,922},{130,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,137}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
            <key>lieyankuilong/zm/long_0045_weiba2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1909,784},{97,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,80}}</string>
                <key>sourceSize</key>
                <string>{97,80}</string>
            </dict>
            <key>lieyankuilong/zm/long_0046_weiba3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,1014},{91,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,65}}</string>
                <key>sourceSize</key>
                <string>{91,65}</string>
            </dict>
            <key>lieyankuilong/zm/long_0047_weiba4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,730},{65,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,59}}</string>
                <key>sourceSize</key>
                <string>{65,59}</string>
            </dict>
            <key>lieyankuilong/zm/long_0048_weiba5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,1048},{101,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,110}}</string>
                <key>sourceSize</key>
                <string>{101,110}</string>
            </dict>
            <key>lieyankuilong/zm/long_0049_weiba6.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1099},{89,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,38}}</string>
                <key>sourceSize</key>
                <string>{89,38}</string>
            </dict>
            <key>lieyankuilong/zm/long_0050_youdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,941},{61,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,117}}</string>
                <key>sourceSize</key>
                <string>{61,117}</string>
            </dict>
            <key>lieyankuilong/zm/long_0051_youxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,1123},{41,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
            <key>lieyankuilong/zm/long_0052_yhz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,610},{26,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,40}}</string>
                <key>sourceSize</key>
                <string>{26,40}</string>
            </dict>
            <key>lieyankuilong/zm/long_0053_yhz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,818},{40,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,33}}</string>
                <key>sourceSize</key>
                <string>{40,33}</string>
            </dict>
            <key>lieyankuilong/zm/long_0054_yhz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,1131},{44,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,27}}</string>
                <key>sourceSize</key>
                <string>{44,27}</string>
            </dict>
            <key>lieyankuilong/zm/long_0055_yhz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,698},{45,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,20}}</string>
                <key>sourceSize</key>
                <string>{45,20}</string>
            </dict>
            <key>lieyankuilong/zm/long_0056_youjiangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,1063},{49,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,79}}</string>
                <key>sourceSize</key>
                <string>{49,79}</string>
            </dict>
            <key>lieyankuilong/zm/long_0057_yqz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,901},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>lieyankuilong/zm/long_0058_yqz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1985,1081},{60,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,45}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>lieyankuilong/zm/long_0059_yqz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,1088},{63,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,47}}</string>
                <key>sourceSize</key>
                <string>{63,47}</string>
            </dict>
            <key>lieyankuilong/zm/long_0060_yqz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1099},{64,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,44}}</string>
                <key>sourceSize</key>
                <string>{64,44}</string>
            </dict>
            <key>lieyankuilong/zm/long_0061_youshouzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,1076},{56,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,45}}</string>
                <key>sourceSize</key>
                <string>{56,45}</string>
            </dict>
            <key>lieyankuilong/zm/long_0062_youqianbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,528},{86,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,80}}</string>
                <key>sourceSize</key>
                <string>{86,80}</string>
            </dict>
            <key>lieyankuilong/zm/long_0063_youqianbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,239},{59,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,131}}</string>
                <key>sourceSize</key>
                <string>{59,131}</string>
            </dict>
            <key>lieyankuilong/zm/long_0064_youyigu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1787,636},{120,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,312}}</string>
                <key>sourceSize</key>
                <string>{120,312}</string>
            </dict>
            <key>lieyankuilong/zm/long_0065_youyigu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1061},{415,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,72}}</string>
                <key>sourceSize</key>
                <string>{415,72}</string>
            </dict>
            <key>lieyankuilong/zm/long_0066_youyigu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1003},{255,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,51}}</string>
                <key>sourceSize</key>
                <string>{255,51}</string>
            </dict>
            <key>lieyankuilong/zm/long_0067_youyigu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,811},{183,113}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{183,113}}</string>
                <key>sourceSize</key>
                <string>{183,115}</string>
            </dict>
            <key>lieyankuilong/zm/long_0068_youyigu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,950},{78,114}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,114}}</string>
                <key>sourceSize</key>
                <string>{78,116}</string>
            </dict>
            <key>lieyankuilong/zm/long_0069_youchibang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,232},{421,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,220}}</string>
                <key>sourceSize</key>
                <string>{421,220}</string>
            </dict>
            <key>lieyankuilong/zm/long_0070_youchibang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,615},{413,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,113}}</string>
                <key>sourceSize</key>
                <string>{413,113}</string>
            </dict>
            <key>lieyankuilong/zm/long_0071_youchibang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,688},{238,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,116}}</string>
                <key>sourceSize</key>
                <string>{238,116}</string>
            </dict>
            <key>lieyankuilong/zm/long_0072_youchibang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,315},{194,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,120}}</string>
                <key>sourceSize</key>
                <string>{194,120}</string>
            </dict>
            <key>lieyankuilong/zm/tuoyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1909,866},{103,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,65}}</string>
                <key>sourceSize</key>
                <string>{103,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lieyankuilong0.pvr.ccz</string>
            <key>size</key>
            <string>{2045,1158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7beb917b7ef42a7dd6b0aab0885e8477:469b18b442ce9c78f71654cb317f9312:67aedecc40e87c921436529c9b507953$</string>
            <key>textureFileName</key>
            <string>lieyankuilong0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
