<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nvheiqishi_tietu/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,0},{330,338}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{330,338}}</string>
                <key>sourceSize</key>
                <string>{336,338}</string>
            </dict>
            <key>nvheiqishi_tietu/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,680},{256,338}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{256,338}}</string>
                <key>sourceSize</key>
                <string>{336,338}</string>
            </dict>
            <key>nvheiqishi_tietu/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,396},{512,330}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,70},{512,330}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>nvheiqishi_tietu/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{512,394}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{512,394}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>nvheiqishi_tietu/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,728},{512,186}}</string>
                <key>offset</key>
                <string>{0,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,199},{512,186}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
            <key>nvheiqishi_tietu/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,340},{330,338}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{330,338}}</string>
                <key>sourceSize</key>
                <string>{336,338}</string>
            </dict>
            <key>nvheiqishi_tietu/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,680},{258,338}}</string>
                <key>offset</key>
                <string>{-32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{258,338}}</string>
                <key>sourceSize</key>
                <string>{336,338}</string>
            </dict>
            <key>zm/1231.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,338},{76,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,47}}</string>
                <key>sourceSize</key>
                <string>{76,47}</string>
            </dict>
            <key>zm/_0001_youyaokui.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,197},{9,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,11}}</string>
                <key>sourceSize</key>
                <string>{9,11}</string>
            </dict>
            <key>zm/_0002_zuoyaokui.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,148},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>zm/_0003_youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,139},{11,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,7}}</string>
                <key>sourceSize</key>
                <string>{11,7}</string>
            </dict>
            <key>zm/_0004_youdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,990},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>zm/_0005_zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,235},{11,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,7}}</string>
                <key>sourceSize</key>
                <string>{11,7}</string>
            </dict>
            <key>zm/_0006_paobujiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1010},{13,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,7}}</string>
                <key>sourceSize</key>
                <string>{13,7}</string>
            </dict>
            <key>zm/_0007_paobujiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,916},{13,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,30}}</string>
                <key>sourceSize</key>
                <string>{13,30}</string>
            </dict>
            <key>zm/_0008_zuoxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,990},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,25}}</string>
                <key>sourceSize</key>
                <string>{21,25}</string>
            </dict>
            <key>zm/_0009_youliuhai1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,990},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>zm/_0010_youliuhai1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,194},{12,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,21}}</string>
                <key>sourceSize</key>
                <string>{12,21}</string>
            </dict>
            <key>zm/_0011_youliuhai1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,0},{15,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,26}}</string>
                <key>sourceSize</key>
                <string>{15,26}</string>
            </dict>
            <key>zm/_0012_youliuhai1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,196},{15,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{15,19}</string>
            </dict>
            <key>zm/_0013_youliuhai1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,217},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>zm/_0014_youliuhai2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,236},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>zm/_0015_youliuhai2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,121},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>zm/_0016_youliuhai2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,100},{16,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,11}}</string>
                <key>sourceSize</key>
                <string>{16,11}</string>
            </dict>
            <key>zm/_0017_youliuhai3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,235},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>zm/_0018_youliuhai3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,162},{18,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,10}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>zm/_0019_zuojianjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,104},{17,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
            <key>zm/_0020_zuoliuhai1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,989},{38,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,28}}</string>
                <key>sourceSize</key>
                <string>{38,28}</string>
            </dict>
            <key>zm/_0021_zuoliuhai1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,0},{25,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>zm/_0022_zuoliuhai1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,985},{19,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,29}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>zm/_0023_zuoliuhai1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,229},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>zm/_0024_zuoliuhai2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,30},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
            <key>zm/_0025_zuoliuhai2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,62},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>zm/_0026_zuoliuhai2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,210},{9,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,11}}</string>
                <key>sourceSize</key>
                <string>{9,11}</string>
            </dict>
            <key>zm/_0027_zuoliuhai3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,990},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>zm/_0028_zuoliuhai3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,990},{23,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,18}}</string>
                <key>sourceSize</key>
                <string>{23,18}</string>
            </dict>
            <key>zm/_0029_zuoliuhai3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,121},{16,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,12}}</string>
                <key>sourceSize</key>
                <string>{16,12}</string>
            </dict>
            <key>zm/_0030_biaoqing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,916},{84,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,72}}</string>
                <key>sourceSize</key>
                <string>{84,72}</string>
            </dict>
            <key>zm/_0031_biaoqing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,916},{84,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,72}}</string>
                <key>sourceSize</key>
                <string>{84,72}</string>
            </dict>
            <key>zm/_0032_biaoqing3.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,916},{84,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,72}}</string>
                <key>sourceSize</key>
                <string>{84,72}</string>
            </dict>
            <key>zm/_0033_biaoqing4.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,916},{84,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,72}}</string>
                <key>sourceSize</key>
                <string>{84,72}</string>
            </dict>
            <key>zm/_0034_youjianjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,221},{10,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,13}}</string>
                <key>sourceSize</key>
                <string>{10,13}</string>
            </dict>
            <key>zm/_0035_zuoshoubi.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,36},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>zm/_0036_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,148},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>zm/_0037_zuoshoubi.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,62},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>zm/_0038_zuoxiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,45},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>zm/_0039_youxiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,28},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>zm/_0040_zuodatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,167},{12,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,25}}</string>
                <key>sourceSize</key>
                <string>{12,25}</string>
            </dict>
            <key>zm/_0041_shangshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,990},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>zm/_0042_yaobu.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,990},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>zm/_0043_youshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,69},{8,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{8,16}</string>
            </dict>
            <key>zm/_0044_youdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,990},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>zm/_0045_youshoubi.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,83},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>zm/_0046_zuoshou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,185},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>zm/_0047_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,200},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>zm/_0048_houtoufa2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,0},{23,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,34}}</string>
                <key>sourceSize</key>
                <string>{23,34}</string>
            </dict>
            <key>zm/_0049_xiaquanbai1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,244},{10,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,7}}</string>
                <key>sourceSize</key>
                <string>{10,7}</string>
            </dict>
            <key>zm/_0050_xiaquanbai1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1010},{12,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,8}}</string>
                <key>sourceSize</key>
                <string>{12,8}</string>
            </dict>
            <key>zm/_0051_xiaquanbai1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,219},{11,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>zm/_0052_xiaquanbai1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,81},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>zm/_0053_xiaquanbai1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,154},{13,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,9}}</string>
                <key>sourceSize</key>
                <string>{13,9}</string>
            </dict>
            <key>zm/_0054_xiaquanbai1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,148},{18,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,12}</string>
            </dict>
            <key>zm/_0055_xiaquanbai1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,175},{19,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,12}}</string>
                <key>sourceSize</key>
                <string>{19,12}</string>
            </dict>
            <key>zm/_0056_xiaquanbai1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,95},{19,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,9}}</string>
                <key>sourceSize</key>
                <string>{19,9}</string>
            </dict>
            <key>zm/_0057_xiaquanbai1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,139},{16,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,13}}</string>
                <key>sourceSize</key>
                <string>{16,13}</string>
            </dict>
            <key>zm/_0058_xiaquanbai1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,64},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>zm/_0059_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,916},{104,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,55}}</string>
                <key>sourceSize</key>
                <string>{104,55}</string>
            </dict>
            <key>zm/_0060_houtoufa2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,990},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>zm/_0061_houtoufa2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,47},{20,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
            <key>zm/_0062_houtoufa1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,69},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>zm/_0063_houtoufa1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,0},{14,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,28}}</string>
                <key>sourceSize</key>
                <string>{14,28}</string>
            </dict>
            <key>zm/_0064_houtoufa1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,197},{11,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,20}}</string>
                <key>sourceSize</key>
                <string>{11,20}</string>
            </dict>
            <key>zm/_0069_zhitoufa1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,194},{11,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,25}}</string>
                <key>sourceSize</key>
                <string>{11,25}</string>
            </dict>
            <key>zm/_0070_zhitoufa1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,174},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>zm/_0071_zhitoufa2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,83},{17,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
            <key>zm/_0072_zhitoufa2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,174},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>zm/_0073_zhitoufa3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,262},{65,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,41}}</string>
                <key>sourceSize</key>
                <string>{65,41}</string>
            </dict>
            <key>zm/_0074_zhitoufa3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,973},{68,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,45}}</string>
                <key>sourceSize</key>
                <string>{68,45}</string>
            </dict>
            <key>zm/_0075_zhitoufa3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,106},{65,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,40}}</string>
                <key>sourceSize</key>
                <string>{65,40}</string>
            </dict>
            <key>zm/_0076_zhitoufa3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,305},{50,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,31}}</string>
                <key>sourceSize</key>
                <string>{50,31}</string>
            </dict>
            <key>zm/_0077_zhitoufa3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,990},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,24}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>zm/_0078_zhitoufa3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,217},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>zm/cm/_0000_celiuhai1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,955},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>zm/cm/_0000_cequanshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,0},{90,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,104}}</string>
                <key>sourceSize</key>
                <string>{90,104}</string>
            </dict>
            <key>zm/cm/_0001_celiuhai1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,916},{45,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,37}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>zm/cm/_0002_celiuhai1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,990},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>zm/cm/_0003_celiuhai1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,148},{13,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,25}}</string>
                <key>sourceSize</key>
                <string>{13,25}</string>
            </dict>
            <key>zm/cm/_0004_cejianjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,990},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>zm/cm/_0005_cebiaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,262},{66,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,74}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>zm/cm/_0006_cebiyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,106},{68,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>zm/cm/_0007_cezhangzui.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,184},{68,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>zm/cm/_0008_ceshangshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,955},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>zm/cm/_0009_cexiashen.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,990},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>zm/cm/_0010_celiuhai2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,37},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>zm/cm/_0011_celiuhai2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,973},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>zm/cm/_0012_celiuhai2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,990},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>zm/cm/_0013_celiuhai2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,166},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nvheiqishi0.pvr.ccz</string>
            <key>size</key>
            <string>{1030,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f80e57960b8db0862ed1896556967d3:e19c761b41225f00fcdb878e4b7270b3:14d11ef304affdac8e468172002f8b49$</string>
            <key>textureFileName</key>
            <string>nvheiqishi0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
