<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sadanPNG/_0001_youliufa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,669},{23,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,33}}</string>
                <key>sourceSize</key>
                <string>{23,33}</string>
            </dict>
            <key>sadanPNG/_0002_youliufa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,669},{12,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,33}}</string>
                <key>sourceSize</key>
                <string>{12,33}</string>
            </dict>
            <key>sadanPNG/_0003_youliufa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,861},{8,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,36}}</string>
                <key>sourceSize</key>
                <string>{8,36}</string>
            </dict>
            <key>sadanPNG/_0004_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,159},{108,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,100}}</string>
                <key>sourceSize</key>
                <string>{108,100}</string>
            </dict>
            <key>sadanPNG/_0005_zhangzui.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,261},{108,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,100}}</string>
                <key>sourceSize</key>
                <string>{108,100}</string>
            </dict>
            <key>sadanPNG/_0006_tongku.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,363},{108,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,100}}</string>
                <key>sourceSize</key>
                <string>{108,100}</string>
            </dict>
            <key>sadanPNG/_0007_biyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,465},{108,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,100}}</string>
                <key>sourceSize</key>
                <string>{108,100}</string>
            </dict>
            <key>sadanPNG/_0008_bianshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,567},{108,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,100}}</string>
                <key>sourceSize</key>
                <string>{108,100}</string>
            </dict>
            <key>sadanPNG/_0009_toufa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,769},{73,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,38}}</string>
                <key>sourceSize</key>
                <string>{73,38}</string>
            </dict>
            <key>sadanPNG/_0010_toufa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,809},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>sadanPNG/_0011_toufa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,861},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
            <key>sadanPNG/_0012_zuoliufa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,0},{14,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,32}}</string>
                <key>sourceSize</key>
                <string>{14,32}</string>
            </dict>
            <key>sadanPNG/_0013_zuoliufa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,72},{11,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,32}}</string>
                <key>sourceSize</key>
                <string>{11,32}</string>
            </dict>
            <key>sadanPNG/_0014_zuoliufa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,34},{8,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,36}}</string>
                <key>sourceSize</key>
                <string>{8,36}</string>
            </dict>
            <key>sadanPNG/_0015_youshoubi.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,132},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,24}}</string>
                <key>sourceSize</key>
                <string>{14,24}</string>
            </dict>
            <key>sadanPNG/_0016_youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,911},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>sadanPNG/_0017_youshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,704},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>sadanPNG/_0018_shangshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,858},{40,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,26}}</string>
                <key>sourceSize</key>
                <string>{40,26}</string>
            </dict>
            <key>sadanPNG/_0019_yaodai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,886},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>sadanPNG/_0020_yaobu.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,785},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>sadanPNG/_0021_zuoshoubi.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,729},{13,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,10}}</string>
                <key>sourceSize</key>
                <string>{13,10}</string>
            </dict>
            <key>sadanPNG/_0022_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,911},{14,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,11}}</string>
                <key>sourceSize</key>
                <string>{14,11}</string>
            </dict>
            <key>sadanPNG/_0023_zuoshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,734},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>sadanPNG/_0024_yaodai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,759},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>sadanPNG/_0025_yaodai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,911},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>sadanPNG/_0026_youdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,106},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>sadanPNG/_0027_youxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,759},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>sadanPNG/_0028_youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,750},{12,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,7}}</string>
                <key>sourceSize</key>
                <string>{12,7}</string>
            </dict>
            <key>sadanPNG/_0029_zuodatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,704},{15,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,23}}</string>
                <key>sourceSize</key>
                <string>{15,23}</string>
            </dict>
            <key>sadanPNG/_0030_zuoxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,886},{14,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,23}}</string>
                <key>sourceSize</key>
                <string>{14,23}</string>
            </dict>
            <key>sadanPNG/_0031_zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,741},{13,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,7}}</string>
                <key>sourceSize</key>
                <string>{13,7}</string>
            </dict>
            <key>sadanPNG/_0032_houtoufa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,721},{69,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,46}}</string>
                <key>sourceSize</key>
                <string>{69,46}</string>
            </dict>
            <key>sadanPNG/_0033_houtoufa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,669},{68,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,50}}</string>
                <key>sourceSize</key>
                <string>{68,50}</string>
            </dict>
            <key>sadanPNG/_0034_houtoufa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,809},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>sadanPNG/_0035_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{88,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,157}}</string>
                <key>sourceSize</key>
                <string>{88,157}</string>
            </dict>
            <key>sadanPNG/_0036_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{88,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,157}}</string>
                <key>sourceSize</key>
                <string>{88,157}</string>
            </dict>
            <key>sadanPNG/_0037_zuoshoubi.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,729},{13,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,10}}</string>
                <key>sourceSize</key>
                <string>{13,10}</string>
            </dict>
            <key>sadanPNG/_0038_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,911},{14,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,11}}</string>
                <key>sourceSize</key>
                <string>{14,11}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sadan0.pvr.ccz</string>
            <key>size</key>
            <string>{108,924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffb4e3fa94085c1853cfec79d56c66cb:22d4550d014877a3976c2f8edc5bf612:c375e24eed57f7abd4a053a197d1d7d2$</string>
            <key>textureFileName</key>
            <string>sadan0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
