<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shandianfengbao_tietu/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,532},{146,458}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,0},{146,458}}</string>
                <key>sourceSize</key>
                <string>{400,530}</string>
            </dict>
            <key>shandianfengbao_tietu/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{340,530}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{340,530}}</string>
                <key>sourceSize</key>
                <string>{400,530}</string>
            </dict>
            <key>shandianfengbao_tietu/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1064},{324,526}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{324,526}}</string>
                <key>sourceSize</key>
                <string>{400,530}</string>
            </dict>
            <key>shandianfengbao_tietu/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,0},{340,530}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{340,530}}</string>
                <key>sourceSize</key>
                <string>{400,530}</string>
            </dict>
            <key>shandianfengbao_tietu/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,532},{340,530}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{340,530}}</string>
                <key>sourceSize</key>
                <string>{400,530}</string>
            </dict>
            <key>shandianfengbao_tietu/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1064},{340,530}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{340,530}}</string>
                <key>sourceSize</key>
                <string>{400,530}</string>
            </dict>
            <key>shandianfengbao_tietu/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,532},{334,530}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{334,530}}</string>
                <key>sourceSize</key>
                <string>{400,530}</string>
            </dict>
            <key>shandianfengbao_tietu/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1064},{324,530}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{324,530}}</string>
                <key>sourceSize</key>
                <string>{400,530}</string>
            </dict>
            <key>shandianfengbao_tietu/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,0},{304,530}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{304,530}}</string>
                <key>sourceSize</key>
                <string>{400,530}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shandianfengbao0.pvr.ccz</string>
            <key>size</key>
            <string>{992,1594}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f3a8ae59ce0c03310fde5998dd37abe:89bb1da9047b302290f3d1123abb9725:3fbca9b98582b02dfbf8f22957162412$</string>
            <key>textureFileName</key>
            <string>shandianfengbao0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
