<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shengmingkaijia_tietu/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,416},{110,50}}</string>
                <key>offset</key>
                <string>{0,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,135},{110,50}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>shengmingkaijia_tietu/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,398},{166,88}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,101},{166,88}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>shengmingkaijia_tietu/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,336},{188,124}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,73},{188,124}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>shengmingkaijia_tietu/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,180},{192,154}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,48},{192,154}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>shengmingkaijia_tietu/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,0},{192,178}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{192,178}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>shengmingkaijia_tietu/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,0},{208,200}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{208,200}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>shengmingkaijia_tietu/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,0},{210,204}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,204}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>shengmingkaijia_tietu/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{210,206}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,206}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>shengmingkaijia_tietu/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{210,206}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,206}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>shengmingkaijia_tietu/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,206},{210,204}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,204}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>shengmingkaijia_tietu/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,0},{210,202}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,202}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>shengmingkaijia_tietu/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,204},{210,200}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,200}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>shengmingkaijia_tietu/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,202},{200,194}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{200,194}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shengmingkaijia0.pvr.ccz</string>
            <key>size</key>
            <string>{1038,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddf36c258067df195e3301707882de2f:42090815dac46741c40825dda2d93a4e:90a7a05317cea3a78831f57cc24b8e3a$</string>
            <key>textureFileName</key>
            <string>shengmingkaijia0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
