<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shujing_tietu/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,876},{114,122}}</string>
                <key>offset</key>
                <string>{-64,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,153},{114,122}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shujing_tietu/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,635},{142,152}}</string>
                <key>offset</key>
                <string>{-62,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,124},{142,152}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shujing_tietu/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,455},{172,178}}</string>
                <key>offset</key>
                <string>{-59,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,100},{172,178}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shujing_tietu/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,684},{176,190}}</string>
                <key>offset</key>
                <string>{-62,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,87},{176,190}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shujing_tietu/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,229},{190,210}}</string>
                <key>offset</key>
                <string>{-61,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,70},{190,210}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shujing_tietu/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,488},{204,232}}</string>
                <key>offset</key>
                <string>{-60,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,56},{204,232}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shujing_tietu/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,234},{226,252}}</string>
                <key>offset</key>
                <string>{-49,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,46},{226,252}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shujing_tietu/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,304},{224,270}}</string>
                <key>offset</key>
                <string>{-48,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{224,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shujing_tietu/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,0},{236,288}}</string>
                <key>offset</key>
                <string>{-42,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,35},{236,288}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shujing_tietu/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{230,302}}</string>
                <key>offset</key>
                <string>{-30,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,35},{230,302}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shujing_tietu/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,576},{196,282}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,39},{196,282}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shujing_tietu/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,576},{198,294}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,47},{198,294}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shujing_tietu/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,234},{206,254}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,53},{206,254}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shujing_tietu/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,229},{212,224}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,96},{212,224}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shujing_tietu/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,490},{160,192}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,105},{160,192}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shujing_tietu/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,872},{158,128}}</string>
                <key>offset</key>
                <string>{-17,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,121},{158,128}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shujing_tietu/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,789},{156,124}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,141},{156,124}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>shujing_tietu/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,863},{156,118}}</string>
                <key>offset</key>
                <string>{-13,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,165},{156,118}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>zmshujin/biyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,0},{257,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,227}}</string>
                <key>sourceSize</key>
                <string>{257,227}</string>
            </dict>
            <key>zmshujin/shujing_0001_zuohuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,480},{49,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,44}}</string>
                <key>sourceSize</key>
                <string>{49,44}</string>
            </dict>
            <key>zmshujin/shujing_0002_youhuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,984},{35,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,29}}</string>
                <key>sourceSize</key>
                <string>{35,29}</string>
            </dict>
            <key>zmshujin/shujing_0003_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,722},{205,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,189}}</string>
                <key>sourceSize</key>
                <string>{205,189}</string>
            </dict>
            <key>zmshujin/shujing_0004_zuozi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,932},{43,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{43,50}</string>
            </dict>
            <key>zmshujin/shujing_0005_zuozi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,290},{41,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,62}}</string>
                <key>sourceSize</key>
                <string>{41,62}</string>
            </dict>
            <key>zmshujin/shujing_0006_zuozi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,0},{34,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,62}}</string>
                <key>sourceSize</key>
                <string>{34,62}</string>
            </dict>
            <key>zmshujin/shujing_0007_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,0},{257,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,227}}</string>
                <key>sourceSize</key>
                <string>{257,227}</string>
            </dict>
            <key>zmshujin/shujing_0008_xiaba.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,441},{135,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,177}}</string>
                <key>sourceSize</key>
                <string>{135,177}</string>
            </dict>
            <key>zmshujin/shujing_0009_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,943},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>zmshujin/shujing_0010_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,953},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>zmshujin/shujing_0011_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,389},{42,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,70}}</string>
                <key>sourceSize</key>
                <string>{42,70}</string>
            </dict>
            <key>zmshujin/shujing_0012_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,989},{45,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,24}}</string>
                <key>sourceSize</key>
                <string>{45,24}</string>
            </dict>
            <key>zmshujin/shujing_0013_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,915},{27,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,36}}</string>
                <key>sourceSize</key>
                <string>{27,36}</string>
            </dict>
            <key>zmshujin/shujing_0014_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,983},{33,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,28}}</string>
                <key>sourceSize</key>
                <string>{33,28}</string>
            </dict>
            <key>zmshujin/shujing_0015_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,461},{37,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,25}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>zmshujin/shujing_0016_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,441},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>zmshujin/shujing_0017_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,290},{72,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,97}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>zmshujin/shujing_0018_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,860},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>zmshujin/shujing_0019_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,635},{18,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,35}}</string>
                <key>sourceSize</key>
                <string>{18,35}</string>
            </dict>
            <key>zmshujin/shujing_0020_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,955},{19,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,35}}</string>
                <key>sourceSize</key>
                <string>{19,35}</string>
            </dict>
            <key>zmshujin/shujing_0021_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,975},{45,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,38}}</string>
                <key>sourceSize</key>
                <string>{45,38}</string>
            </dict>
            <key>zmshujin/shujing_0022_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,915},{45,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,41}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
            <key>zmshujin/shujing_0023_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,932},{48,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,37}}</string>
                <key>sourceSize</key>
                <string>{48,37}</string>
            </dict>
            <key>zmshujin/shujing_0024_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,915},{51,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,44}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>zmshujin/shujing_0025_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,966},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>zmshujin/shujing_0026_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,913},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>zmshujin/shujing_0027_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,960},{66,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,50}}</string>
                <key>sourceSize</key>
                <string>{66,50}</string>
            </dict>
            <key>zmshujin/shujing_0028_zuojian.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,688},{202,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,173}}</string>
                <key>sourceSize</key>
                <string>{202,173}</string>
            </dict>
            <key>zmshujin/shujing_0029_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,389},{71,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,89}}</string>
                <key>sourceSize</key>
                <string>{71,89}</string>
            </dict>
            <key>zmshujin/shujing_0030_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,935},{61,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,77}}</string>
                <key>sourceSize</key>
                <string>{61,77}</string>
            </dict>
            <key>zmshujin/shujing_0031_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,526},{45,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>zmshujin/shujing_0032_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,620},{56,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,59}}</string>
                <key>sourceSize</key>
                <string>{56,59}</string>
            </dict>
            <key>zmshujin/shujing_0033_zuobi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,913},{64,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,74}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>zmshujin/shujing_0034_zuob2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,872},{65,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,86}}</string>
                <key>sourceSize</key>
                <string>{65,86}</string>
            </dict>
            <key>zmshujin/shujing_0035_zuob3.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,935},{59,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,78}}</string>
                <key>sourceSize</key>
                <string>{59,78}</string>
            </dict>
            <key>zmshujin/shujing_0036_youjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,304},{125,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,160}}</string>
                <key>sourceSize</key>
                <string>{125,160}</string>
            </dict>
            <key>zmshujin/shujing_0037_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,983},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>zmshujin/shujing_0038_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,681},{52,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{52,60}</string>
            </dict>
            <key>zmshujin/shujing_0039_6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,177},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>zmshujin/shujing_0040_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,913},{45,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,60}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>zmshujin/shujing_0041_6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,804},{66,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,55}}</string>
                <key>sourceSize</key>
                <string>{66,55}</string>
            </dict>
            <key>zmshujin/shujing_0042_6_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,455},{37,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,33}}</string>
                <key>sourceSize</key>
                <string>{37,33}</string>
            </dict>
            <key>zmshujin/shujing_0043_6_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,534},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>zmshujin/shujing_0044_6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,915},{24,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,38}}</string>
                <key>sourceSize</key>
                <string>{24,38}</string>
            </dict>
            <key>zmshujin/shujing_0045_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,570},{22,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,43}}</string>
                <key>sourceSize</key>
                <string>{22,43}</string>
            </dict>
            <key>zmshujin/shujing_0046_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,861},{63,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,52}}</string>
                <key>sourceSize</key>
                <string>{63,52}</string>
            </dict>
            <key>zmshujin/shujing_0047_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,915},{60,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,49}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
            <key>zmshujin/shujing_0048_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,983},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>zmshujin/shujing_0049_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,354},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>zmshujin/shujing_0050_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,527},{29,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,41}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>zmshujin/shujing_0051_youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,635},{121,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,143}}</string>
                <key>sourceSize</key>
                <string>{121,143}</string>
            </dict>
            <key>zmshujin/shujing_0052_youzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,64},{35,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,55}}</string>
                <key>sourceSize</key>
                <string>{35,55}</string>
            </dict>
            <key>zmshujin/shujing_0053_youzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,121},{38,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,54}}</string>
                <key>sourceSize</key>
                <string>{38,54}</string>
            </dict>
            <key>zmshujin/shujing_0054_zyouzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,959},{40,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,54}}</string>
                <key>sourceSize</key>
                <string>{40,54}</string>
            </dict>
            <key>zmshujin/shujing_0055_youzi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,476},{30,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,49}}</string>
                <key>sourceSize</key>
                <string>{30,49}</string>
            </dict>
            <key>zmshujin/shujing_0056_youbi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,913},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>zmshujin/shujing_0057_youbi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,860},{71,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,81}}</string>
                <key>sourceSize</key>
                <string>{71,81}</string>
            </dict>
            <key>zmshujin/shujing_0058_youbi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,743},{52,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,59}}</string>
                <key>sourceSize</key>
                <string>{52,59}</string>
            </dict>
            <key>zmshujin/shujing_0059_xiongqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,490},{199,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,196}}</string>
                <key>sourceSize</key>
                <string>{199,196}</string>
            </dict>
            <key>zmshujin/shujing_0060_dibu.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,0},{281,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,232}}</string>
                <key>sourceSize</key>
                <string>{281,232}</string>
            </dict>
            <key>zmshujin/shujing_0061_shugen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,876},{100,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,81}}</string>
                <key>sourceSize</key>
                <string>{100,81}</string>
            </dict>
            <key>zmshujin/shujing_0062_shugen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,983},{76,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,21}}</string>
                <key>sourceSize</key>
                <string>{76,21}</string>
            </dict>
            <key>zmshujin/shujing_0063_shugen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,959},{86,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,54}}</string>
                <key>sourceSize</key>
                <string>{86,54}</string>
            </dict>
            <key>zmshujin/shujing_0064_shugen4.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,534},{84,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,36}}</string>
                <key>sourceSize</key>
                <string>{84,36}</string>
            </dict>
            <key>zmshujin/shujing_0065_shugen5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,859},{80,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,71}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>zmshujin/shujing_0066_shugen6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,780},{90,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,77}}</string>
                <key>sourceSize</key>
                <string>{90,77}</string>
            </dict>
            <key>zmshujin/shujing_0067_shugen7.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,466},{119,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,66}}</string>
                <key>sourceSize</key>
                <string>{119,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shujing0.pvr.ccz</string>
            <key>size</key>
            <string>{1310,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f00ca4ef737da800b7e2703612866d4e:ebd383a82e80940efb114fb187136d62:1d1d953578ee5ab5955d0c340368c325$</string>
            <key>textureFileName</key>
            <string>shujing0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
