<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>siwangnuy_tietu/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,488},{292,140}}</string>
                <key>offset</key>
                <string>{4,-186}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,372},{292,140}}</string>
                <key>sourceSize</key>
                <string>{300,512}</string>
            </dict>
            <key>siwangnuy_tietu/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,492},{254,488}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{254,488}}</string>
                <key>sourceSize</key>
                <string>{300,512}</string>
            </dict>
            <key>siwangnuy_tietu/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{252,490}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{252,490}}</string>
                <key>sourceSize</key>
                <string>{300,512}</string>
            </dict>
            <key>siwangnuy_tietu/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,490},{240,490}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{240,490}}</string>
                <key>sourceSize</key>
                <string>{300,512}</string>
            </dict>
            <key>siwangnuy_tietu/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,0},{246,488}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,19},{246,488}}</string>
                <key>sourceSize</key>
                <string>{300,512}</string>
            </dict>
            <key>siwangnuy_tietu/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,0},{238,486}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,17},{238,486}}</string>
                <key>sourceSize</key>
                <string>{300,512}</string>
            </dict>
            <key>siwangnuy_tietu/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,0},{230,486}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,17},{230,486}}</string>
                <key>sourceSize</key>
                <string>{300,512}</string>
            </dict>
            <key>siwangnuy_tietu/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,0},{214,486}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,18},{214,486}}</string>
                <key>sourceSize</key>
                <string>{300,512}</string>
            </dict>
            <key>siwangnuy_tietu/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,0},{212,484}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,17},{212,484}}</string>
                <key>sourceSize</key>
                <string>{300,512}</string>
            </dict>
            <key>siwangnuy_tietu/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,490},{190,484}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,16},{190,484}}</string>
                <key>sourceSize</key>
                <string>{300,512}</string>
            </dict>
            <key>siwangnuy_tietu/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,488},{184,484}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,16},{184,484}}</string>
                <key>sourceSize</key>
                <string>{300,512}</string>
            </dict>
            <key>siwangnuy_tietu/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,488},{194,482}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,17},{194,482}}</string>
                <key>sourceSize</key>
                <string>{300,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>siwangnuyi0.pvr.ccz</string>
            <key>size</key>
            <string>{1408,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc3d71ee9dd93391eb67fd97276891c4:34e38d14ab68ed053740637f7b3ecb36:81afb5d0b1798f1a83a3820d01465356$</string>
            <key>textureFileName</key>
            <string>siwangnuyi0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
