<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>toushezhiyan_tietu/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,804},{216,160}}</string>
                <key>offset</key>
                <string>{-3,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,229},{216,160}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>toushezhiyan_tietu/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,804},{216,162}}</string>
                <key>offset</key>
                <string>{-3,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,228},{216,162}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>toushezhiyan_tietu/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,804},{216,162}}</string>
                <key>offset</key>
                <string>{-3,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,228},{216,162}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>toushezhiyan_tietu/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,804},{216,162}}</string>
                <key>offset</key>
                <string>{-3,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,228},{216,162}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>toushezhiyan_tietu/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,364},{300,238}}</string>
                <key>offset</key>
                <string>{0,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,162},{300,238}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>toushezhiyan_tietu/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,604},{242,392}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{242,392}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>toushezhiyan_tietu/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,0},{242,400}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{242,400}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>toushezhiyan_tietu/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,0},{258,400}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{258,400}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>toushezhiyan_tietu/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,0},{258,400}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{258,400}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>toushezhiyan_tietu/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,402},{258,400}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{258,400}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>toushezhiyan_tietu/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,402},{296,400}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,400}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>toushezhiyan_tietu/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{300,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,400}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>toushezhiyan_tietu/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{298,400}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,400}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>toushezhiyan_tietu/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,402},{296,400}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{296,400}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>toushezhiyan_tietu/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,402},{300,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,400}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>toushezhiyan_tietu/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,0},{300,362}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{300,362}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>toushezhiyan_tietu/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,604},{278,370}}</string>
                <key>offset</key>
                <string>{-11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{278,370}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>toushezhiyan0.pvr.ccz</string>
            <key>size</key>
            <string>{1680,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:924391beb2fd68d78ebac5046d55fe32:292b2884c48929f304308e6891888863:429f96b96b309a87c9e3d0ba6b93cd5f$</string>
            <key>textureFileName</key>
            <string>toushezhiyan0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
