<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>walingbojue/walingbojue1_0022_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,21},{21,11}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{21,11}}</string>
                <key>sourceSize</key>
                <string>{31,11}</string>
            </dict>
            <key>walingbojue/walingbojue1_0023_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{14,13}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{26,15}</string>
            </dict>
            <key>walingbojue/walingbojue2_0022_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,112},{14,11}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,11}}</string>
                <key>sourceSize</key>
                <string>{18,11}</string>
            </dict>
            <key>walingbojue/walingbojue2_0023_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,106},{11,15}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{19,15}</string>
            </dict>
            <key>walingbojue/walingbojue_0001_muzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,111},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>walingbojue/walingbojue_0002_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,0},{69,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,82}}</string>
                <key>sourceSize</key>
                <string>{69,82}</string>
            </dict>
            <key>walingbojue/walingbojue_0003_zuohujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,102},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>walingbojue/walingbojue_0004_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,75},{38,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>walingbojue/walingbojue_0005_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,70},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>walingbojue/walingbojue_0006_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,99},{20,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>walingbojue/walingbojue_0007_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,99},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>walingbojue/walingbojue_0008_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,70},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,40}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>walingbojue/walingbojue_0009_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,75},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>walingbojue/walingbojue_0010_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,99},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>walingbojue/walingbojue_0011_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,102},{28,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,22}}</string>
                <key>sourceSize</key>
                <string>{28,22}</string>
            </dict>
            <key>walingbojue/walingbojue_0012_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,34},{57,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,63}}</string>
                <key>sourceSize</key>
                <string>{57,63}</string>
            </dict>
            <key>walingbojue/walingbojue_0013_tengku.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{86,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,68}}</string>
                <key>sourceSize</key>
                <string>{86,68}</string>
            </dict>
            <key>walingbojue/walingbojue_0014_xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,34},{57,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,63}}</string>
                <key>sourceSize</key>
                <string>{57,63}</string>
            </dict>
            <key>walingbojue/walingbojue_0015_youhujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,84},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>walingbojue/walingbojue_0016_zuoshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,39},{15,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,26}}</string>
                <key>sourceSize</key>
                <string>{15,26}</string>
            </dict>
            <key>walingbojue/walingbojue_0017_zuoqianbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,102},{19,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,23}}</string>
                <key>sourceSize</key>
                <string>{19,23}</string>
            </dict>
            <key>walingbojue/walingbojue_0018_zuoquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,107},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>walingbojue/walingbojue_0019_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,34},{43,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,39}}</string>
                <key>sourceSize</key>
                <string>{43,39}</string>
            </dict>
            <key>walingbojue/walingbojue_0020_tunbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,0},{40,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,19}}</string>
                <key>sourceSize</key>
                <string>{40,19}</string>
            </dict>
            <key>walingbojue/walingbojue_0021_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,84},{52,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,16}}</string>
                <key>sourceSize</key>
                <string>{52,16}</string>
            </dict>
            <key>walingbojue/walingbojue_0024_zuodatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,99},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>walingbojue/walingbojue_0025_zuoxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,107},{13,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,17}}</string>
                <key>sourceSize</key>
                <string>{13,17}</string>
            </dict>
            <key>walingbojue/walingbojue_0026_zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,99},{15,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,10}}</string>
                <key>sourceSize</key>
                <string>{15,10}</string>
            </dict>
            <key>walingbojue/walingbojue_0027_youdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,107},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>walingbojue/walingbojue_0028_youxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,99},{12,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,19}}</string>
                <key>sourceSize</key>
                <string>{12,19}</string>
            </dict>
            <key>walingbojue/walingbojue_0029_youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,112},{15,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,10}}</string>
                <key>sourceSize</key>
                <string>{15,10}</string>
            </dict>
            <key>walingbojue/walingbojue_0030_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,0},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>walingbojue/walingbojue_0031_youshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,99},{13,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>walingbojue/walingbojue_0032_youqianbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,21},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>walingbojue/walingbojue_0033_youquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,99},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>walingbojue/walingbojue_0034_hou.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,0},{94,32}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{94,32}}</string>
                <key>sourceSize</key>
                <string>{94,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>walingbojue0.pvr.ccz</string>
            <key>size</key>
            <string>{341,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2eecab5f0afcd070151eb503a0727dee:450405e4baead7c0c3269ddfc0abb5a2:6449e63ba3b99fc212faa796426db82a$</string>
            <key>textureFileName</key>
            <string>walingbojue0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
