<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wlxg/bu/wlxg2_0028_sj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,45},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>wlxg/bu/wlxg2_0029_sj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,23},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>wlxg/bu/wlxg2_0030_sj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,12},{12,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,9}}</string>
                <key>sourceSize</key>
                <string>{12,9}</string>
            </dict>
            <key>wlxg/bu/wlxg2_0031_sj4.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,99},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>wlxg/wlxg2_0001_maojiao1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,35},{10,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,8}}</string>
                <key>sourceSize</key>
                <string>{10,8}</string>
            </dict>
            <key>wlxg/wlxg2_0002_maojiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,105},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>wlxg/wlxg2_0003_maijiao2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,96},{17,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,11}}</string>
                <key>sourceSize</key>
                <string>{17,11}</string>
            </dict>
            <key>wlxg/wlxg2_0004_miaojiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,81},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>wlxg/wlxg2_0005_mao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,0},{56,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,34}}</string>
                <key>sourceSize</key>
                <string>{56,34}</string>
            </dict>
            <key>wlxg/wlxg2_0006_mao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,68},{21,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,33}}</string>
                <key>sourceSize</key>
                <string>{21,33}</string>
            </dict>
            <key>wlxg/wlxg2_0007_mao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,36},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>wlxg/wlxg2_0008_mao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,110},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>wlxg/wlxg2_0009_mao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,68},{66,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,35}}</string>
                <key>sourceSize</key>
                <string>{66,35}</string>
            </dict>
            <key>wlxg/wlxg2_0010_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>wlxg/wlxg2_0011_heyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,0},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>wlxg/wlxg2_0012_yyl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,83},{18,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,14}}</string>
                <key>sourceSize</key>
                <string>{18,14}</string>
            </dict>
            <key>wlxg/wlxg2_0013_yyl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,19},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>wlxg/wlxg2_0014_yyl3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,83},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>wlxg/wlxg2_0015_zyl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,68},{23,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,13}}</string>
                <key>sourceSize</key>
                <string>{23,13}</string>
            </dict>
            <key>wlxg/wlxg2_0016_zyl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,103},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>wlxg/wlxg2_0017_zyl3.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,0},{12,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,10}}</string>
                <key>sourceSize</key>
                <string>{12,10}</string>
            </dict>
            <key>wlxg/wlxg2_0018_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,99},{19,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,23}}</string>
                <key>sourceSize</key>
                <string>{19,23}</string>
            </dict>
            <key>wlxg/wlxg2_0019_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,53},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>wlxg/wlxg2_0020_xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,36},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>wlxg/wlxg2_0021_tui.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,68},{39,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,35}}</string>
                <key>sourceSize</key>
                <string>{39,35}</string>
            </dict>
            <key>wlxg/wlxg2_0022_youshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,105},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>wlxg/wlxg2_0023_youqianbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,105},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>wlxg/wlxg2_0024_youquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>wlxg/wlxg2_0025_zuoqianbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,105},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,19}</string>
            </dict>
            <key>wlxg/wlxg2_0026_zuoshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,105},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>wlxg/wlxg2_0027_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,105},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>wlxg/wlxg2_0028_fazhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,68},{40,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,49}}</string>
                <key>sourceSize</key>
                <string>{40,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wanglingshushi0.pvr.ccz</string>
            <key>size</key>
            <string>{229,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8686dea0989c61ccbbd8ba43dad354b6:75e60f598d460aba047c4e1aa78bb984:638c523f2b805c52eb28b22542442b06$</string>
            <key>textureFileName</key>
            <string>wanglingshushi0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
