<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bozi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,111},{28,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,33}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>bozi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,77},{29,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>bozi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,553},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>fubu.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,676},{45,45}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,45}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>gongji1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,903},{54,58}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{54,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,535},{93,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{93,106}}</string>
                <key>sourceSize</key>
                <string>{93,110}</string>
            </dict>
            <key>tunbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,793},{53,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{53,40}}</string>
                <key>sourceSize</key>
                <string>{53,44}</string>
            </dict>
            <key>wanglingloong_gongji2/b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,176},{72,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,178}}</string>
                <key>sourceSize</key>
                <string>{72,178}</string>
            </dict>
            <key>wanglingloong_gongji2/b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,714},{85,280}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{85,280}}</string>
                <key>sourceSize</key>
                <string>{115,300}</string>
            </dict>
            <key>wanglingloong_gongji2/b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,176},{128,263}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{128,263}}</string>
                <key>sourceSize</key>
                <string>{146,279}</string>
            </dict>
            <key>wanglingloong_gongji2/bing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,441},{119,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{119,110}}</string>
                <key>sourceSize</key>
                <string>{121,110}</string>
            </dict>
            <key>wanglingloong_gongji2/bing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{204,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,174}}</string>
                <key>sourceSize</key>
                <string>{204,174}</string>
            </dict>
            <key>weiba1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,643},{49,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,31}}</string>
                <key>sourceSize</key>
                <string>{49,31}</string>
            </dict>
            <key>weiba2.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,760},{45,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,31}}</string>
                <key>sourceSize</key>
                <string>{45,31}</string>
            </dict>
            <key>weiba3.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,992},{35,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,29}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>weiba4.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,864},{41,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,37}}</string>
                <key>sourceSize</key>
                <string>{41,37}</string>
            </dict>
            <key>weiba5.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,356},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>weiba6.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,356},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>weiba7.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,464},{18,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,30}}</string>
                <key>sourceSize</key>
                <string>{18,32}</string>
            </dict>
            <key>xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,793},{85,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,96}}</string>
                <key>sourceSize</key>
                <string>{85,96}</string>
            </dict>
            <key>youbi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,195},{32,35}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{32,35}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>youbi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,0},{30,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,39}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>youci1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,710},{87,81}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{87,81}}</string>
                <key>sourceSize</key>
                <string>{89,81}</string>
            </dict>
            <key>youci2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,553},{92,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,61}}</string>
                <key>sourceSize</key>
                <string>{92,61}</string>
            </dict>
            <key>youci3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,382},{97,80}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,80}}</string>
                <key>sourceSize</key>
                <string>{101,80}</string>
            </dict>
            <key>youci4.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,891},{82,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,26}}</string>
                <key>sourceSize</key>
                <string>{82,28}</string>
            </dict>
            <key>youci5.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,723},{51,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{51,35}}</string>
                <key>sourceSize</key>
                <string>{51,37}</string>
            </dict>
            <key>youtui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,41},{30,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>youtui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,963},{38,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>youzua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,353},{26,27}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>youzuo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,356},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>youzuozi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,146},{27,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{27,47}}</string>
                <key>sourceSize</key>
                <string>{27,51}</string>
            </dict>
            <key>zuobi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,835},{43,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,27}}</string>
                <key>sourceSize</key>
                <string>{43,27}</string>
            </dict>
            <key>zuobi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,282},{31,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,46}}</string>
                <key>sourceSize</key>
                <string>{31,46}</string>
            </dict>
            <key>zuoci1.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,464},{95,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,69}}</string>
                <key>sourceSize</key>
                <string>{95,69}</string>
            </dict>
            <key>zuoci2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,643},{88,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,65}}</string>
                <key>sourceSize</key>
                <string>{88,65}</string>
            </dict>
            <key>zuoci3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,616},{91,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{91,96}}</string>
                <key>sourceSize</key>
                <string>{93,98}</string>
            </dict>
            <key>zuoci4.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,919},{81,35}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{81,35}}</string>
                <key>sourceSize</key>
                <string>{89,35}</string>
            </dict>
            <key>zuoci5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,996},{58,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,21}}</string>
                <key>sourceSize</key>
                <string>{60,21}</string>
            </dict>
            <key>zuodatui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,963},{36,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,41}</string>
            </dict>
            <key>zuodatui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,956},{41,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{41,34}}</string>
                <key>sourceSize</key>
                <string>{41,38}</string>
            </dict>
            <key>zuohouzua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,232},{31,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,48}}</string>
                <key>sourceSize</key>
                <string>{31,48}</string>
            </dict>
            <key>zuohouzua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,330},{31,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,21}}</string>
                <key>sourceSize</key>
                <string>{31,21}</string>
            </dict>
            <key>zuozi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,496},{18,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{18,15}</string>
            </dict>
            <key>zuozuo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,996},{34,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,20}}</string>
                <key>sourceSize</key>
                <string>{34,20}</string>
            </dict>
            <key>zuozuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,992},{33,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{33,29}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wanglinglong0.pvr.ccz</string>
            <key>size</key>
            <string>{236,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fca65c214b585f13f300a3286cad3b3:11bae5f2fe1687942cf73463ed76e889:3ac1af5f6fea8d925ee6ed65c40b8106$</string>
            <key>textureFileName</key>
            <string>wanglinglong0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
