<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xinlingjianxiao_tietu/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,220},{76,22}}</string>
                <key>offset</key>
                <string>{97,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,130},{76,22}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>xinlingjianxiao_tietu/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,194},{118,24}}</string>
                <key>offset</key>
                <string>{76,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,128},{118,24}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>xinlingjianxiao_tietu/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,142},{256,102}}</string>
                <key>offset</key>
                <string>{7,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,118},{256,102}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>xinlingjianxiao_tietu/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,0},{256,120}}</string>
                <key>offset</key>
                <string>{7,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,101},{256,120}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>xinlingjianxiao_tietu/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,0},{176,138}}</string>
                <key>offset</key>
                <string>{-33,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,82},{176,138}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>xinlingjianxiao_tietu/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,0},{168,160}}</string>
                <key>offset</key>
                <string>{-30,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,60},{168,160}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>xinlingjianxiao_tietu/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,0},{164,140}}</string>
                <key>offset</key>
                <string>{-33,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,54},{164,140}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>xinlingjianxiao_tietu/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,0},{162,166}}</string>
                <key>offset</key>
                <string>{-33,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{162,166}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>xinlingjianxiao_tietu/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,0},{188,192}}</string>
                <key>offset</key>
                <string>{-33,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{188,192}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>xinlingjianxiao_tietu/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{230,242}}</string>
                <key>offset</key>
                <string>{-25,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,242}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>xinlingjianxiao_tietu/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,0},{134,136}}</string>
                <key>offset</key>
                <string>{-33,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,53},{134,136}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>xinlingjianxiao_tietu/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,0},{132,136}}</string>
                <key>offset</key>
                <string>{-32,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,54},{132,136}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>xinlingjianxiao_tietu/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,0},{130,134}}</string>
                <key>offset</key>
                <string>{-32,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,56},{130,134}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>xinlingjianxiao_tietu/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,122},{126,130}}</string>
                <key>offset</key>
                <string>{-32,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,58},{126,130}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xinlingjianxiao0.pvr.ccz</string>
            <key>size</key>
            <string>{1758,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b56eafb53847eb5fc7ab8771a1f5969:19ea4afdd6660ecf807474aefdb7a24b:a228d2be7aee7339fe19a299f8547587$</string>
            <key>textureFileName</key>
            <string>xinlingjianxiao0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
